.pdss-nav-menu {
  max-width: var(--primary--screen);
  margin: auto;
  .mat-toolbar {
    background-color: white;
    height: 48px;
    font-size: 18px;
    padding: 0px;
  }

  .router-link-active {
    border-bottom: 2px solid black;
    border-radius: 0px;
  }

  ::ng-deep {
    .mat-expansion-panel {
      box-shadow: none !important;
    }

    .mat-expansion-panel-header.mat-expanded {
      height: 48px;
    }

    .mat-list-base {
      padding: 0px !important;
    }
  }

  .pdss-products {
    .mat-expansion-panel-header {
      padding: 0 5px 0 0 !important;
    }
  }
}

.nav-menu-bar {
  padding: 0 16px;
  cursor: pointer;
}
.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;

  ::ng-deep {
    .cdk-overlay-pane {
      min-width: 100vw !important;
      right: 0 !important;
    }

    .mat-expansion-panel {
      box-shadow: none !important;
    }

    .mat-expansion-panel-header {
      padding: 0 32px 0 0 !important;
    }

    .mat-expansion-panel-header.mat-expanded {
      height: 36px;
    }

    .mat-expansion-panel-body {
      padding: 0 24px !important;
    }
  }
}
