<!-- website -->
<div class="pdss-nav-menu">
  <!-- nav-website -->
  <mat-toolbar fxHide.lt-md>
    <div fxFlex="10" fxLayoutAlign="flex-start" fxLayout>
      <button mat-button routerLink="overview">
        <b translate>PDSS__NAV_MENU__PDSS</b>
      </button>
    </div>
    <div fxFlex="80" fxLayout="row">
      <button
        mat-button
        routerLink="overview"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__OVERVIEW</span>
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="pdssProductsMenu"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__PRODUCTS</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <button
        mat-button
        routerLink="browser"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__BROWSER</span>
      </button>
      <button
        mat-button
        routerLink="utility"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__UTILITY</span>
      </button>

      <button
        mat-button
        routerLink="affiliated-hospital"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__AFFILIATED_HOSPITAL</span>
      </button>
    </div>
    <div fxFlex="10" fxLayoutAlign="end" fxLayout>
      <button
        mat-button
        routerLink="my-report"
        routerLinkActive="router-link-active"
      >
        <b translate>PDSS__NAV_MENU__MY_REPORT</b>
      </button>
    </div>
  </mat-toolbar>

  <!-- nav-mobile -->
  <div fxHide.gt-sm>
    <div
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="nav-menu-bar"
    >
      <button
        mat-button
        routerLink="overview"
        (click)="isOpenMenuMobile = false"
      >
        <b translate>PDSS__NAV_MENU__PDSS</b>
      </button>
      <div
        fxFlex
        fxLayoutAlign="end center"
        (click)="isOpenMenuMobile = !isOpenMenuMobile"
      >
        <button mat-icon-button>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- website -> products menu -->
<mat-menu #pdssProductsMenu="matMenu">
  <button
    class="product-route-button"
    mat-menu-item
    *ngFor="let productRoute of productRouteList"
    [routerLink]="productRoute.routerLink"
  >
    <span>{{ productRoute.title | translate }}</span>
  </button>
</mat-menu>

<!-- Mobile Nav Menu -->

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpenMenuMobile"
>
  <mat-list
    @pdssNavMenuMobile
    class="nav-menu-mobile"
    fxLayout="column"
    fxHide.gt-sm
  >
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      routerLink="overview"
      (click)="isOpenMenuMobile = false"
    >
      <span translate>PDSS__NAV_MENU__OVERVIEW</span>
    </button>
    <mat-expansion-panel class="pdss-products">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <button mat-menu-item>
              <span translate>PDSS__NAV_MENU__PRODUCTS</span>
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <button
          *ngFor="let productRoute of productRouteList"
          mat-menu-item
          [routerLink]="productRoute.routerLink"
          (click)="isOpenMenuMobile = false"
        >
          <span>{{ productRoute.title | translate }}</span>
        </button>
      </mat-list>
    </mat-expansion-panel>

    <button
      mat-menu-item
      routerLink="browser"
      (click)="isOpenMenuMobile = false"
    >
      <span translate>PDSS__NAV_MENU__BROWSER</span>
    </button>
    <button
      mat-menu-item
      routerLink="utility"
      (click)="isOpenMenuMobile = false"
    >
      <span translate>PDSS__NAV_MENU__UTILITY</span>
    </button>
    <button
      mat-menu-item
      routerLink="affiliated-hospital"
      (click)="isOpenMenuMobile = false"
    >
      <span translate>PDSS__NAV_MENU__AFFILIATED_HOSPITAL</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      routerLink="my-report"
      (click)="isOpenMenuMobile = false"
    >
      <b translate>PDSS__NAV_MENU__MY_REPORT</b>
    </button>
    <mat-divider></mat-divider>
  </mat-list>
</ng-template>
