<!-- website -->
<div class="pdss-nav-menu">
  <!-- nav-website -->
  <mat-toolbar fxHide.lt-md>
    <div fxFlex="10" fxLayoutAlign="space-around center" fxLayout>
      <button mat-button routerLink="overview">
        <b translate>PDSS__NAV_MENU__PDSS</b>
      </button>
    </div>
    <div fxFlex="80" fxLayout="row">
      <button
        mat-button
        routerLink="overview"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__OVERVIEW</span>
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="pdssProductsMenu"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__PRODUCTS</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <button
        mat-button
        routerLink="browser"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__BROWSER</span>
      </button>
      <button
        mat-button
        routerLink="utility"
        routerLinkActive="router-link-active"
      >
        <span translate>PDSS__NAV_MENU__UTILITY</span>
      </button>
    </div>
    <div fxFlex="10" fxLayoutAlign="space-around center" fxLayout>
      <button
        mat-button
        routerLink="my-report"
        routerLinkActive="router-link-active"
      >
        <b translate>PDSS__NAV_MENU__MY_REPORT</b>
      </button>
    </div>
  </mat-toolbar>

  <!-- nav-mobile -->
  <div fxHide.gt-sm>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout fxLayoutAlign="start">
              <button mat-button routerLink="overview">
                <b translate>PDSS__NAV_MENU__PDSS</b>
              </button>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- MENU -->
        <mat-list>
          <button mat-menu-item routerLink="overview">
            <span translate>PDSS__NAV_MENU__OVERVIEW</span>
          </button>
          <mat-expansion-panel class="pdss-products">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>
                  <button mat-menu-item>
                    <span translate>PDSS__NAV_MENU__PRODUCTS</span>
                  </button>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <button mat-menu-item [routerLink]="['products', 'pgx']">
                <span translate>PDSS__NAV_MENU__PGX</span>
              </button>
              <button mat-menu-item [routerLink]="['products', 'pgx-premium']">
                <span translate>PDSS__NAV_MENU__PGX_PREMIUM</span>
              </button>
              <button
                mat-menu-item
                [routerLink]="['products', 'single-gene-service']"
              >
                <span translate>PDSS__NAV_MENU__SINGLE_GENE_SERVICE</span>
              </button>
            </mat-list>
          </mat-expansion-panel>

          <button mat-menu-item routerLink="browser">
            <span translate>PDSS__NAV_MENU__BROWSER</span>
          </button>
          <button mat-menu-item routerLink="utility">
            <span translate>PDSS__NAV_MENU__UTILITY</span>
          </button>

          <button mat-menu-item routerLink="my-report">
            <b translate>PDSS__NAV_MENU__MY_REPORT</b>
          </button>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- website -> products menu -->
  <mat-menu #pdssProductsMenu="matMenu">
    <button mat-menu-item [routerLink]="['products', 'pgx']">
      <span translate>PDSS__NAV_MENU__PGX</span>
    </button>
    <button mat-menu-item [routerLink]="['products', 'pgx-premium']">
      <span translate>PDSS__NAV_MENU__PGX_PREMIUM</span>
    </button>
    <button mat-menu-item [routerLink]="['products', 'single-gene-service']">
      <span translate>PDSS__NAV_MENU__SINGLE_GENE_SERVICE</span>
    </button>
  </mat-menu>
</div>
