<div id="medical-history-add">
  <h3 *ngIf="mode === 'ADD'" translate>
    USER_PROFILES__MEDICAL_HISTORY_ADD__TITLE__ADD_NEW_MEDICAL_HISTORY
  </h3>
  <form [formGroup]="medicalForm" *ngIf="medicalForm">
    <div
      fxLayout="row"
      fxLayoutGap="16px"
      fxLayout.lt-sm="column"
      fxLayoutGap.lt-sm="0px"
    >
      <div class="form-field">
        <mat-label>
          <span translate
            >USER_PROFILES__MEDICAL_HISTORY_ADD__LABELS__DRUG</span
          >
          <span class="required">*</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="drug"
            [placeholder]="
              'USER_PROFILES__MEDICAL_HISTORY_ADD__PLACEHOLDER__DRUG_NAME'
                | translate
            "
          />
          <mat-error *ngIf="f?.drug?.dirty || f?.drug?.touched">
            <mat-icon>error</mat-icon>
            <span *ngIf="f?.drug?.errors?.required" translate>
              USER_PROFILES__MEDICAL_HISTORY_ADD__ERRORS__REQUIRED_DRUG_NAME
            </span>
          </mat-error>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="8px"
        fxLayout.lt-sm="column"
        fxLayoutGap.lt-sm="0px"
      >
        <div class="form-field">
          <mat-label translate>
            USER_PROFILES__MEDICAL_HISTORY_ADD__LABELS__FROM_DATE
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="pickerFromDate"
              [max]="f?.toDate?.value"
              formControlName="fromDate"
              [placeholder]="
                'USER_PROFILES__MEDICAL_HISTORY_ADD__PLACEHOLDER__CHOOSE_DATE'
                  | translate
              "
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFromDate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-label translate>
            USER_PROFILES__MEDICAL_HISTORY_ADD__LABELS__TO_DATE
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [min]="f?.fromDate?.value"
              [matDatepicker]="pickerToDate"
              formControlName="toDate"
              [placeholder]="
                'USER_PROFILES__MEDICAL_HISTORY_ADD__PLACEHOLDER__CHOOSE_DATE'
                  | translate
              "
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerToDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerToDate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="form-field">
        <mat-label translate>
          USER_PROFILES__MEDICAL_HISTORY_ADD__LABELS__TIME_RANGE
        </mat-label>
        <mat-form-field appearance="outline">
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              [placeholder]="
                'USER_PROFILES__MEDICAL_HISTORY_ADD__PLACEHOLDER__FROM_DATE'
                  | translate
              "
              formControlName="fromDate"
              disabled
            />
            <input
              matEndDate
              [placeholder]="
                'USER_PROFILES__MEDICAL_HISTORY_ADD__PLACEHOLDER__TO_DATE'
                  | translate
              "
              formControlName="toDate"
              disabled
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            disabled="false"
          ></mat-datepicker-toggle>
          <mat-date-range-picker
            #picker
            disabled="false"
          ></mat-date-range-picker>
        </mat-form-field>
      </div> -->
    </div>

    <div class="form-field">
      <mat-label translate>
        USER_PROFILES__MEDICAL_HISTORY_ADD__LABELS__NOTE
      </mat-label>
      <mat-form-field appearance="outline">
        <textarea
          matInput
          cdkTextareaAutosize
          [placeholder]="
            'USER_PROFILES__MEDICAL_HISTORY_ADD__PLACEHOLDER__DRUG_DETAIL'
              | translate
          "
          formControlName="note"
          rows="6"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="form-actions" fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-stroked-button
        class="cancel-button"
        (click)="cancelClick(); $event.preventDefault()"
      >
        <span translate>
          USER_PROFILES__MEDICAL_HISTORY_ADD__BUTTONS__CANCEL
        </span>
      </button>
      <button
        *ngIf="mode === 'EDIT'"
        mat-button
        class="save-button"
        (click)="saveClick(); $event.preventDefault()"
      >
        <span translate>
          USER_PROFILES__MEDICAL_HISTORY_ADD__BUTTONS__SAVE
        </span>
      </button>

      <button
        *ngIf="mode === 'ADD'"
        mat-button
        class="create-button"
        (click)="createClick(); $event.preventDefault()"
      >
        <span translate>
          USER_PROFILES__MEDICAL_HISTORY_ADD__BUTTONS__CREATE
        </span>
      </button>
    </div>
  </form>
</div>
