header {
  order: 1;

  .mat-toolbar.mat-primary {
    background: var(--primary-color);
    color: black;
  }

  ::ng-deep .mat-form-field {
    font-size: 12px;

    .mat-input-element {
    }
    .mat-form-field-label {
    }
    .mat-form-field-underline {
      background-color: white; // remove underline
    }
    .mat-form-field-ripple {
    }
    .mat-form-field-required-marker {
    }
    .mat-form-field-infix {
      width: 60px !important;
    }
  }

  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-underline {
      background-color: white; // remove underline
    }
  }
}

.menu-service-item {
  padding: 10px;
  cursor: pointer;
}

.menu-service-item:hover {
  background-color: #f2f2f2;
}

.logo {
  left: 2.5%;
  right: 86.25%;
  top: 18.75%;
  bottom: 18.75%;
}

.menu-mobile-container {
  display: flex;
  width: 100vw;
  background-color: white;

  ::ng-deep {
    .cdk-overlay-pane {
      min-width: 100vw !important;
      right: 0 !important;
    }

    .mat-expansion-panel {
      box-shadow: none !important;
    }

    .mat-expansion-panel-header {
      padding: 0 16px !important;
    }

    .mat-expansion-panel-header.mat-expanded {
      height: 48px;
    }

    .mat-expansion-panel-body {
      padding: 0 24px !important;
    }
  }
}
