<header>
  <mat-toolbar color="primary" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <!-- brand -->
    <div fxFlex="10">
      <button mat-button routerLink="/" translate>
        <!--<p translate>layout.header.spmed-logo</p>-->
        <div class="logo">
          <img src="../../../../assets/common/logo.jpg" style="height: 50px" />
        </div>
      </button>
    </div>

    <!-- center -->
    <!-- center for web-->
    <div fxFlex fxLayoutAlign="center" fxHide.lt-md>
      <button mat-button [matMenuTriggerFor]="menuService">
        <span translate>layout.header.services</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuService="matMenu" class="menu-service-container">
        <!-- pdss -->
        <div class="menu-service-item">
          <div
            matRipple
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
            routerLink="/pdss"
          >
            <mat-icon>trip_origin</mat-icon>
            <div>
              <b translate>layout.header.services-option.pdss.title</b>
              <div translate>layout.header.services-option.pdss.sub-title</div>
            </div>
          </div>
        </div>

        <!-- adme -->
        <div class="menu-service-item">
          <div
            matRipple
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
            routerLink="/adme"
          >
            <mat-icon>my_location</mat-icon>
            <div>
              <b translate>layout.header.services-option.adme.title</b>
              <div translate>layout.header.services-option.adme.sub-title</div>
            </div>
          </div>
        </div>

        <!-- genotyping kit -->
        <div class="menu-service-item">
          <div
            matRipple
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
            routerLink="/genotyping-kit"
          >
            <mat-icon>medical_services</mat-icon>
            <div>
              <b translate
                >layout.header.services-option.genotyping-kit.title</b
              >
              <div translate>
                layout.header.services-option.genotyping-kit.sub-title
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
      <button mat-button routerLink="/about-us">
        <span translate> layout.header.about-us </span>
      </button>
      <button mat-button routerLink="/news">
        <span translate> layout.header.news </span>
      </button>
      <button mat-stroked-button routerLink="/contact">
        <span translate> layout.header.contact </span>
      </button>
    </div>

    <!-- center for mobile -->
    <div fxFlex fxLayoutAlign="center" fxHide.gt-sm></div>

    <!-- right -->
    <!-- right for web-->
    <div fxFlex="20" fxLayoutAlign="end" fxHide.lt-md>
      <mat-form-field>
        <mat-select
          [value]="languageService.currentLanguage"
          (valueChange)="changeLanguage($event)"
        >
          <mat-option
            *ngFor="let lang of languageService.languageOptions"
            [value]="lang.value"
          >
            {{ lang.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button [fxHide]="!isLogin">
        <mat-icon matBadge="1">notifications</mat-icon>
      </button>

      <!-- menu user profile -->
      <button
        mat-icon-button
        [fxHide]="!isLogin"
        [matMenuTriggerFor]="menuUserProfileForWeb"
      >
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-button routerLink="/auth/login" [fxHide]="isLogin">
        <span translate>layout.header.login</span>
      </button>

      <button mat-button routerLink="/auth/register" [fxHide]="isLogin">
        <span translate>layout.header.register</span>
      </button>
    </div>

    <!-- right for mobile -->
    <div fxFlex="20" fxLayoutAlign="end" fxHide.gt-sm>
      <mat-form-field>
        <mat-select
          [value]="languageService.currentLanguage"
          (valueChange)="changeLanguage($event)"
        >
          <mat-option
            *ngFor="let lang of languageService.languageOptions"
            [value]="lang.value"
          >
            {{ lang.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="isOpenMenuMobile = !isOpenMenuMobile">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>

<!-- menu user for web -->
<mat-menu #menuUserProfileForWeb="matMenu">
  <button mat-menu-item>
    <div
      style="width: 200px"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span translate>layout.header.users-menu.profiles</span>
      <span style="font-style: oblique; opacity: 0.9">@{{ username }}</span>
    </div>
  </button>
  <button mat-menu-item>
    <span translate>layout.header.users-menu.settings</span>
  </button>
  <button mat-menu-item>
    <div
      style="width: 200px"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span translate>layout.header.users-menu.membership</span>
      <mat-chip-list>
        <mat-chip>Doctor</mat-chip>
      </mat-chip-list>
    </div>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <span translate>layout.header.users-menu.logout</span>
  </button>
</mat-menu>

<!-- this is overlay for mobile menu -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpenMenuMobile"
>
  <mat-list class="menu-mobile-container" fxLayout="column" fxHide.gt-sm>
    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span translate
              >layout.header.menu-mobile.service</span
            ></mat-panel-title
          >
        </mat-expansion-panel-header>
        <mat-list>
          <button mat-menu-item routerLink="/pdss">
            <span translate>layout.header.menu-mobile.services.pdss</span>
          </button>
          <button mat-menu-item routerLink="/adme">
            <span translate>layout.header.menu-mobile.services.adme</span>
          </button>
          <button mat-menu-item routerLink="/genotyping-kit">
            <span translate
              >layout.header.menu-mobile.services.genotyping-kit</span
            >
          </button>
          <button mat-menu-item>
            <span translate>layout.header.menu-mobile.services.others</span>
          </button>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <button mat-menu-item routerLink="/about-us">
      <span translate>layout.header.menu-mobile.about-us</span>
    </button>
    <button mat-menu-item routerLink="/news">
      <span translate>layout.header.menu-mobile.news</span>
    </button>
    <button mat-menu-item routerLink="/contact">
      <span translate>layout.header.menu-mobile.contact</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span translate>layout.header.menu-mobile.profiles</span>
        <span style="font-style: oblique; opacity: 0.9" [fxHide]="!username"
          >@{{ username }}</span
        >
      </div>
    </button>
    <button mat-menu-item>
      <span translate>layout.header.menu-mobile.settings</span>
    </button>
    <button mat-menu-item>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span translate>layout.header.menu-mobile.membership</span>
        <mat-chip-list>
          <mat-chip>Doctor</mat-chip>
        </mat-chip-list>
      </div>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item [fxHide]="isLogin" routerLink="/auth/login">
      <span translate>layout.header.menu-mobile.login</span>
    </button>
    <button mat-menu-item [fxHide]="isLogin" routerLink="/auth/register">
      <span translate>layout.header.menu-mobile.sign-up</span>
    </button>
    <button mat-menu-item [fxHide]="!isLogin" (click)="logout()">
      <span translate>layout.header.menu-mobile.logout</span>
    </button>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
  </mat-list>
</ng-template>
