<div id="basic-information">
  <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 translate>
      USER__USER_PROFILES__BASIC_INFORMATION__TITLES__BASIC_INFORMATION
    </h2>

    <div>
      <!-- button change to view mode -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        *ngIf="weightHeightHistoryList?.length > 0"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <!-- button add - when no information founded -->
      <button
        mat-button
        class="add-button"
        *ngIf="
          mode &&
          mode === 'VIEW' &&
          (weightHeightHistoryList === null ||
            weightHeightHistoryList.length === 0)
        "
        (click)="changeMode('ADD')"
      >
        <span translate>
          USER__USER_PROFILES__BASIC_INFORMATION__BUTTONS__ADD
        </span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <!-- view mode -->
    <app-basic-information-detail
      *ngIf="mode === 'VIEW'"
      [weightHeightHistoryList$]="weightHeightHistoryList$"
    ></app-basic-information-detail>

    <!-- add mode -->
    <app-basic-information-form
      *ngIf="mode === 'ADD'"
      [weightHeightHistoryList$]="weightHeightHistoryList$"
      (cancelEvent)="mode = 'VIEW'"
      (createEvent)="postData($event)"
    ></app-basic-information-form>

    <!-- edit mode -->
    <app-basic-information-list
      *ngIf="mode === 'EDIT'"
      [weightHeightHistoryList$]="weightHeightHistoryList$"
      (cancelEvent)="mode = 'VIEW'"
      (deleteEvent)="deleteItem($event)"
    ></app-basic-information-list>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="mode = 'ADD'">
    <span translate>USER__USER_PROFILES__BASIC_INFORMATION__BUTTONS__ADD</span>
  </button>
  <button mat-menu-item (click)="mode = 'EDIT'">
    <span translate
      >USER__USER_PROFILES__BASIC_INFORMATION__BUTTONS__EDIT_HISTORY</span
    >
  </button>
</mat-menu>
