<div class="news-wrapper">
  <div class="news">
    <ng-container
      *ngIf="
        newsListLoading;
        then newsListLoadingTemplate;
        else newsListTemplate
      "
    ></ng-container>
  </div>
</div>

<ng-template #newsListTemplate>
  <div class="news-list-container">
    <div class="search-form-container">
      <h2 class="spmed-h2-with-icon">
        <mat-icon>campaign</mat-icon>
        {{ "NEWS__NEWS_LIST__TITLES__NEWS" | translate }}
      </h2>
      <div class="search-form">
        <div class="search">
          <form [formGroup]="searchForm" class="spmed-small-form">
            <mat-form-field appearance="outline">
              <input
                matInput
                formControlName="keyword"
                type="text"
                name="search"
                [placeholder]="
                  'NEWS__NEWS_LIST__PLACEHOLDERS__SEARCH' | translate
                "
                (keydown.enter)="onClickSearch()"
              />
              <button mat-icon-button matSuffix (click)="onClickSearch()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div>
      <ng-container
        *ngIf="newsList && newsList.length > 0; else newsListEmptyTemplate"
      >
        <ng-container *ngFor="let news of newsList">
          <div
            class="news-list-item"
            [routerLink]="[news.id]"
            animateAfterAppear="fadeIn"
          >
            <div class="thumbnail-image-wrapper">
              <img
                loading="lazy"
                [src]="news.thumbnailUrl || defaultNewsImage"
                class="thumbnail-image"
              />
            </div>
            <div class="content">
              <h3 class="title">{{ news.title }}</h3>
              <div class="statistic">
                <div>
                  <mat-icon>visibility</mat-icon>
                  {{ news.readCount }}
                </div>
                <div>
                  <mat-icon> person</mat-icon>
                  {{ news.author }}
                </div>
              </div>
              <div
                class="description"
                [innerHTML]="news.content | toText | truncateText: 300"
              ></div>
              <div class="tag-container">
                <app-tag-list [tagList]="news.tags"></app-tag-list>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="search-container">
    <app-top-news-list [newsList$]="newsList$"></app-top-news-list>
  </div>
</ng-template>

<ng-template #newsListEmptyTemplate>
  <div class="not-found-container">
    <img src="/assets/images/empty.svg" alt="Not found data" />
    <h3>{{ "NEWS__NEWS_LIST__STRINGS__NOT_FOUND_DATA" | translate }}</h3>
  </div>
</ng-template>

<ng-template #newsListLoadingTemplate>
  <div class="loading-container">
    <app-spinner></app-spinner>
  </div>
</ng-template>
