<div id="medical-history-list">
  <ng-container *ngIf="dataSource && dataSource.length > 0">
    <div>
      <div *ngFor="let medicalHistory of dataSource">
        <div
          class="medical-history-list-item"
          fxLayout="row"
          fxLayoutAlign="space-between stretch"
          fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="none"
        >
          <span fxFlex="20" class="drug-name">{{ medicalHistory?.drug }}</span>
          <span fxFlex="50" class="note">{{ medicalHistory?.note }}</span>

          <span fxFlex="20" class="time-range">
            <mat-icon>schedule</mat-icon>
            {{ medicalHistory?.fromDate }}
            <ng-container *ngIf="medicalHistory?.toDate">
              <span translate>
                USER__USER_PROFILES__MEDICAL_HISTORY__MEDICAL_HISTORY_LIST__STRINGS__TO
              </span>
              {{ medicalHistory?.toDate }}
            </ng-container>

            <ng-container
              *ngIf="!medicalHistory?.fromDate && !medicalHistory?.toDate"
            >
              <span translate>
                USER__USER_PROFILES__MEDICAL_HISTORY__MEDICAL_HISTORY_LIST__STRINGS__NO_INFORMATION
              </span>
            </ng-container>
          </span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="medicalHistoryList$.value?.length > 3">
      <div
        class="show-button"
        *ngIf="showLess$.value"
        (click)="showLess$.next(false)"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY__MEDICAL_HISTORY_LIST__BUTTONS__SHOW_MORE
        </span>
        <mat-icon>expand_more</mat-icon>
      </div>
      <div
        class="show-button"
        *ngIf="!showLess$.value"
        (click)="showLess$.next(true)"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY__MEDICAL_HISTORY_LIST__BUTTONS__SHOW_LESS
        </span>
        <mat-icon>expand_less</mat-icon>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!dataSource || dataSource.length === 0">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      id="medical-history-empty "
    >
      <img
        src="/assets/images/empty.svg"
        alt="image"
        width="40px"
        height="40px"
      />
      <h3 translate>
        USER__USER_PROFILES__MEDICAL_HISTORY__MEDICAL_HISTORY_LIST__STRINGS__EMPTY
      </h3>
    </div>
  </ng-container>
</div>
