#atc-drug-tree {
  padding: 10px;
  .search-form {
    width: 100%;
    margin: auto;
    margin-bottom: 16px;

    .search-button {
      color: white;
      background-color: var(--primary--color);
    }

    .type-select {
      width: 125px;
    }

    .keyword-input {
      width: 100%;
      max-width: 500px;
    }

    .width-100 {
      width: 100% !important;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0px !important;
        margin-right: 8px;
      }

      .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 7px 0;
      }

      // border radius
      .mat-form-field-outline-start {
        border-radius: 3px 0 0 3px !important;
        min-width: 3px !important;
      }

      .mat-form-field-outline-end {
        border-radius: 0 3px 3px 0 !important;
      }
    }
  }

  .view-container {
    margin-bottom: 8px;

    .expanded-level {
      background-color: var(--primary--color);
      color: white;
    }

    button {
      margin-left: 10px;
    }
  }

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  .mat-tree-node {
    min-height: 24px !important;
  }

  a {
    text-decoration: none;
    color: var(--primary--color);
  }

  .level-0 {
    background-color: #4eaac1;
    color: white;
  }
  .level-1 {
    background-color: #beaa55;
    color: white;
  }
  .level-2 {
    background-color: #9d5a76;
    color: white;
  }
  .level-3 {
    background-color: #dcd7d2;
    color: black;
  }
  .level-4 {
    background-color: white;
    color: black;
    text-transform: capitalize;
  }
  .node-link {
    background-color: white !important;
    color: black !important;
    text-transform: capitalize !important;
  }

  .node-content-container:hover {
    background-color: #f2f2f2;
  }

  .node-content-container {
    width: 100%;
    padding-right: 10px;
    word-break: break-all;
    img {
      width: 20px;
      height: 20px;
      margin-left: 4px;
    }
  }
}
