<div id="register" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card [ngStyle.gt-md]="{ width: '1200px' }">
    <h1>Sign up for SPMED</h1>

    <mat-card-content>
      <div fxFlex="50" class="step-container" fxHide.lt-lg>
        <div class="selected-step-box" [fxShow]="currentStep == 1">
          <div class="selected-step-title">Step 1</div>
          <div class="selected-step-comment" translate>
            LAYOUT__AUTH__REGISTER__STEP1__COMMENT
          </div>
        </div>
        <div class="step-box" [fxHide]="currentStep == 1">
          <div class="step-title">Step 1</div>
          <div class="step-comment" translate>
            LAYOUT__AUTH__REGISTER__STEP1__COMMENT
          </div>
        </div>
        <div class="selected-step-box" [fxShow]="currentStep == 2">
          <div class="selected-step-title">Step 2</div>
          <div class="selected-step-comment" translate>
            LAYOUT__AUTH__REGISTER__STEP2__COMMENT
          </div>
        </div>
        <div class="step-box" [fxHide]="currentStep == 2">
          <div class="step-title">Step 2</div>
          <div class="step-comment" translate>
            LAYOUT__AUTH__REGISTER__STEP2__COMMENT
          </div>
        </div>
        <div class="selected-step-box" [fxShow]="currentStep == 3">
          <div class="selected-step-title">Step 3</div>
          <div class="selected-step-comment" translate>
            LAYOUT__AUTH__REGISTER__STEP3__COMMENT
          </div>
        </div>
        <div class="step-box" [fxHide]="currentStep == 3">
          <div class="step-title">Step 3</div>
          <div class="step-comment" translate>
            LAYOUT__AUTH__REGISTER__STEP3__COMMENT
          </div>
        </div>
      </div>

      <div
        fxFlex="50"
        fxFlex.lt-lg="100"
        fxLayout="column"
        class="agreement-container"
        [ngStyle.md]="{ width: '600px', padding: '10px' }"
        [ngStyle.sm]="{ width: '600px', padding: '10px' }"
        [ngStyle.xs]="{ padding: '10px' }"
      >
        <div [fxShow]="currentStep == 1">
          <form [formGroup]="signUpForm1" (ngSubmit)="onStep2()">
            <div class="agreement-total">
              <mat-checkbox
                formControlName="totalAgree"
                value="1"
                (change)="updateCheck()"
              >
                <span translate>LAYOUT__AUTH__REGISTER__AGREE</span>
              </mat-checkbox>
            </div>
            <div class="agree-div">
              <div>
                <mat-checkbox formControlName="termsAgree" value="1" required>
                  <span translate>LAYOUT__AUTH__REGISTER__TERM</span>
                </mat-checkbox>
                <mat-error
                  *ngIf="
                    signUpForm1.get('termsAgree').invalid &&
                    signUpForm1.get('termsAgree').touched
                  "
                >
                  <span translate
                    >LAYOUT__AUTH__REGISTER__ERROR__TERMS_AGREE</span
                  >
                </mat-error>
              </div>
              <div class="agreement-box-mobile">
                <span
                  [innerHtml]="
                    'LAYOUT__AUTH__REGISTER__TERMS_CONTENTS' | translate
                  "
                ></span>
              </div>
            </div>

            <div class="agree-div">
              <div>
                <mat-checkbox formControlName="privacyAgree" value="1" required
                  ><span translate
                    >LAYOUT__AUTH__REGISTER__PRIVACY</span
                  ></mat-checkbox
                >
                <mat-error
                  *ngIf="
                    signUpForm1.get('privacyAgree').hasError('required') &&
                    signUpForm1.get('privacyAgree').touched
                  "
                >
                  <span translate
                    >LAYOUT__AUTH__REGISTER__ERROR__PRIVACY_AGREE</span
                  >
                </mat-error>
              </div>
              <div class="agreement-box-mobile">
                <span
                  [innerHtml]="
                    'LAYOUT__AUTH__REGISTER__PRIVACY_CONTENTS' | translate
                  "
                ></span>
              </div>
            </div>

            <button
              mat-raised-button
              color="primary"
              class="agreement-button-mobile"
              type="submit"
            >
              <span translate>LAYOUT__AUTH__REGISTER__STEP1__CONFIRM</span>
            </button>
          </form>
        </div>
        <div [fxShow]="currentStep == 2">
          <form [formGroup]="signUpForm2">
            <div class="username-div">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__ID
              </div>
              <div class="signup-comment" translate>
                LAYOUT__AUTH__REGISTER__ID__COMMENT
              </div>
            </div>
            <div></div>
            <div class="margin10">
              <mat-form-field class="input-full-width" appearance="fill">
                <input
                  matInput
                  formControlName="fusername"
                  name="fusername"
                  (keyup.enter)="onCheckId()"
                  (blur)="onCheckId()"
                  (ngModelChange)="isValidID = null"
                  required
                />
                <mat-progress-spinner
                  *ngIf="isCheckingId"
                  matSuffix
                  [diameter]="24"
                  mode="indeterminate"
                >
                </mat-progress-spinner>
                <mat-icon
                  matSuffix
                  *ngIf="
                    this.isValidID === true &&
                    signUpForm2.get('fusername').valid
                  "
                  >check_circle</mat-icon
                >
                <mat-icon
                  matSuffix
                  *ngIf="
                    (signUpForm2.get('fusername').invalid &&
                      (signUpForm2.get('fusername').touched ||
                        signUpForm2.get('fusername').dirty)) ||
                    (this.isValidID === false &&
                      (signUpForm2.get('fusername').touched ||
                        signUpForm2.get('fusername').dirty))
                  "
                  >cancel</mat-icon
                >
                <mat-error *ngIf="this.signUpForm2.get('fusername').invalid">
                  <span translate
                    >LAYOUT__AUTH__REGISTER__ERROR__ID</span
                  ></mat-error
                >
              </mat-form-field>
              <div
                *ngIf="
                  this.isValidID === false && signUpForm2.get('fusername').valid
                "
              >
                <span class="warning-color" translate
                  >LAYOUT__AUTH__REGISTER__DUPLICATE__ID</span
                >
              </div>
              <div
                *ngIf="!this.isValidID && signUpForm2.get('fusername').valid"
                [hidden]="!this.checkId"
                class="is-loading"
              >
                <mat-spinner diameter="20"></mat-spinner>
              </div>
              <br />
            </div>
            <div class="pwd-height">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__PASSWORD
              </div>
              <mat-form-field class="input-full-width" appearance="fill">
                <input
                  matInput
                  formControlName="fpassword"
                  id="password"
                  type="password"
                  required
                />
                <mat-icon matSuffix *ngIf="signUpForm2.get('fpassword').valid"
                  >check_circle</mat-icon
                >
                <mat-error *ngIf="signUpForm2.get('fpassword').invalid"
                  ><span translate
                    >LAYOUT__AUTH__REGISTER__ERROR__PASSWORD</span
                  ></mat-error
                >
              </mat-form-field>
            </div>
            <div class="pwd-height">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__CONFIRM_PASSWORD
              </div>
              <div class="signup-comment" translate>
                LAYOUT__AUTH__REGISTER__CONFIRM__PASSWORD__COMMENT
              </div>
              <mat-form-field class="input-full-width" appearance="fill">
                <input
                  matInput
                  formControlName="repassword"
                  id="confirme_password"
                  type="password"
                  required
                />
                <mat-icon matSuffix *ngIf="signUpForm2.get('repassword').valid"
                  >check_circle</mat-icon
                >
                <mat-error
                  *ngIf="
                    signUpForm2.get('repassword').invalid &&
                    signUpForm2.get('repassword').touched
                  "
                >
                  <div *ngIf="signUpForm2.get('repassword').errors.required">
                    <span translate
                      >LAYOUT__AUTH__REGISTER__ERROR__CONFIRM__PASSWORD</span
                    >
                  </div>
                  <div *ngIf="signUpForm2.get('repassword').errors.mustMatch">
                    <span translate
                      >LAYOUT__AUTH__REGISTER__ERROR__PASSWORD__MISMATCH</span
                    >
                  </div>
                </mat-error>
              </mat-form-field>
            </div>
            <button
              mat-raised-button
              color="primary"
              class="agreement-button-mobile"
              (click)="onStep3()"
            >
              <span translate>LAYOUT__AUTH__REGISTER__STEP2__CONFIRM</span>
            </button>

            <div class="or-div">Or</div>
            <button mat-raised-button class="input-full-width kakao-button">
              <span translate>LAYOUT__AUTH__LOGIN__LOGIN_WITH_KAKAOTALK</span>
            </button>
            <button mat-raised-button class="input-full-width naver-button">
              <span translate>LAYOUT__AUTH__LOGIN__LOGIN_WITH_NAVER</span>
            </button>
          </form>
        </div>

        <div [fxShow]="currentStep == 3">
          <form [formGroup]="signUpForm3" (ngSubmit)="onSubmit()">
            <div class="step3-div">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__PERSONAL_INFO__NAME
              </div>
              <mat-grid-list cols="3" rowHeight="80px">
                <mat-grid-tile colspan="1">
                  <mat-form-field hintLabel="Sur Name" appearance="fill">
                    <input matInput type="text" formControlName="fsurname" />
                    <mat-icon
                      matSuffix
                      *ngIf="signUpForm3.get('fsurname').valid"
                      >check_circle</mat-icon
                    >
                    <mat-error
                      ><span translate
                        >LAYOUT__AUTH__REGISTER__ERROR__SIRNAME</span
                      ></mat-error
                    >
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                  <mat-form-field hintLabel="Given Name" appearance="fill">
                    <input matInput type="text" formControlName="fgivenname" />
                    <mat-icon
                      matSuffix
                      *ngIf="signUpForm3.get('fgivenname').valid"
                      >check_circle</mat-icon
                    >
                    <mat-error
                      ><span translate
                        >LAYOUT__AUTH__REGISTER__ERROR__GIVENNAME</span
                      ></mat-error
                    >
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

            <div class="psinfo-div">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__DATE_OF_BIRTH
              </div>
              <mat-form-field appearance="fill">
                <input matInput type="date" formControlName="fdateofbirth" />
                <mat-icon
                  matSuffix
                  *ngIf="signUpForm3.get('fdateofbirth').valid"
                  >check_circle</mat-icon
                >
                <mat-error
                  ><span translate
                    >LAYOUT__AUTH__REGISTER__ERROR__DOB</span
                  ></mat-error
                >
              </mat-form-field>
            </div>
            <div class="psinfo-div">
              <div
                id="example-radio-group-label"
                class="signup-title"
                translate
              >
                LAYOUT__AUTH__REGISTER__PERSONAL_INFO__GENDER
              </div>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="fgender"
                required
              >
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let gen of genders"
                  [value]="gen.value"
                >
                  <span>{{ gen.data }}</span>
                </mat-radio-button>
              </mat-radio-group>
              <mat-error
                *ngIf="
                  signUpForm3.get('fgender').invalid &&
                  signUpForm3.get('fgender').touched
                "
                ><span translate
                  >LAYOUT__AUTH__REGISTER__ERROR__GENDER</span
                ></mat-error
              >
            </div>

            <div class="psinfo-div">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__PERSONAL_INFO__EMAIL
              </div>
              <mat-form-field appearance="fill">
                <input
                  matInput
                  type="text"
                  formControlName="femail"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  (keyup.enter)="onCheckEmail()"
                  (blur)="onCheckEmail()"
                  (ngModelChange)="isValidEmail = null"
                />
                <mat-progress-spinner
                  *ngIf="isCheckingEmail"
                  matSuffix
                  [diameter]="24"
                  mode="indeterminate"
                >
                </mat-progress-spinner>
                <mat-icon
                  matSuffix
                  *ngIf="
                    signUpForm3.get('femail').valid &&
                    this.isValidEmail === true
                  "
                  >check_circle</mat-icon
                >
                <mat-icon
                  matSuffix
                  *ngIf="
                    (signUpForm3.get('femail').invalid &&
                      signUpForm3.get('femail').touched) ||
                    (this.isValidEmail === false &&
                      signUpForm3.get('femail').touched)
                  "
                  >cancel</mat-icon
                >
                <mat-error *ngIf="signUpForm3.get('femail').invalid"
                  ><span translate>LAYOUT__AUTH__REGISTER__ERROR__EMAIL</span>
                </mat-error>
              </mat-form-field>
              <div
                *ngIf="
                  this.isValidEmail === false && signUpForm3.get('femail').valid
                "
                class="warning-color"
                translate
              >
                LAYOUT__AUTH__REGISTER__ERROR__DUPLICATE__EMAIL
              </div>
              <br />
            </div>

            <div class="psinfo-div">
              <div class="signup-title" translate>
                LAYOUT__AUTH__REGISTER__PERSONAL_INFO__PHONE
              </div>
              <mat-form-field hintLabel="" appearance="fill">
                <input matInput type="text" formControlName="fphone" />
                <mat-icon matSuffix *ngIf="signUpForm3.get('fphone').valid"
                  >check_circle</mat-icon
                >
                <mat-error *ngIf="signUpForm3.get('fphone').invalid"
                  ><span translate
                    >LAYOUT__AUTH__REGISTER__ERROR__PHONE</span
                  ></mat-error
                >
              </mat-form-field>
            </div>

            <button
              mat-raised-button
              color="primary"
              class="agreement-button-mobile"
              type="submit"
            >
              <span translate>LAYOUT__AUTH__REGISTER__STEP3__CONFIRM</span>
            </button>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
