<div id="register-page-wrapper">
  <div class="register-page">
    <h2>{{ "LAYOUT__AUTH__REGISTER__SIGN_UP_FOR_SPMED" | translate }}</h2>
    <div class="page-wrapper">
      <div class="step-by-step-container">
        <ng-template *ngIf="currentStep; then stepByStepTemplate"></ng-template>
      </div>
      <div class="form-container">
        <ng-template
          *ngIf="currentStep === 1; then step1FormTemplate"
        ></ng-template>
        <ng-template
          *ngIf="currentStep === 2; then step2FormTemplate"
        ></ng-template>
        <ng-template
          *ngIf="currentStep === 3; then step3FormTemplate"
        ></ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #stepByStepTemplate>
  <div class="step-by-step">
    <div
      class="step"
      [ngClass]="{ 'step-active': currentStep === step.stepNumber }"
      *ngFor="let step of stepList"
    >
      <div class="step-title">{{ step.title | translate }}</div>
      <div class="step-sub-title">
        {{ step.subTitle | translate }}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step1FormTemplate>
  <form class="step-1-form" [formGroup]="signUpForm1" (ngSubmit)="onStep2()">
    <div>
      <mat-checkbox
        formControlName="totalAgree"
        value="1"
        (change)="updateCheck()"
      >
        {{ "LAYOUT__AUTH__REGISTER__AGREE" | translate }}
      </mat-checkbox>
    </div>
    <div class="term">
      <div class="checkbox-wrapper">
        <mat-checkbox formControlName="termsAgree" value="1" required>
          {{ "LAYOUT__AUTH__REGISTER__TERM" | translate }}
        </mat-checkbox>
        <mat-error
          *ngIf="
            signUpForm1.get('termsAgree').invalid &&
            signUpForm1.get('termsAgree').touched
          "
        >
          <span translate>LAYOUT__AUTH__REGISTER__ERROR__TERMS_AGREE</span>
        </mat-error>
      </div>
      <div class="term-content">
        <span
          [innerHtml]="'LAYOUT__AUTH__REGISTER__TERMS_CONTENTS' | translate"
        ></span>
      </div>
    </div>

    <div class="privacy">
      <div class="checkbox-wrapper">
        <mat-checkbox formControlName="privacyAgree" value="1" required>
          {{ "LAYOUT__AUTH__REGISTER__PRIVACY" | translate }}
        </mat-checkbox>
        <mat-error
          *ngIf="
            signUpForm1.get('privacyAgree').hasError('required') &&
            signUpForm1.get('privacyAgree').touched
          "
        >
          <span translate>LAYOUT__AUTH__REGISTER__ERROR__PRIVACY_AGREE</span>
        </mat-error>
      </div>
      <div class="privacy-content">
        <span
          [innerHtml]="'LAYOUT__AUTH__REGISTER__PRIVACY_CONTENTS' | translate"
        ></span>
      </div>
    </div>

    <button mat-stroked-button class="submit-button" type="submit">
      <span translate>LAYOUT__AUTH__REGISTER__STEP1__CONFIRM</span>
    </button>
  </form>
</ng-template>

<ng-template #step2FormTemplate>
  <form class="spmed-small-form step-2-form" [formGroup]="signUpForm2">
    <div>
      <mat-label>
        {{ "LAYOUT__AUTH__REGISTER__ID" | translate }}
      </mat-label>
      <mat-form-field appearance="outline">
        <input matInput formControlName="fusername" name="fusername" required />
        <!-- loading when checking id -->
        <mat-progress-spinner
          *ngIf="isCheckingId"
          matSuffix
          [diameter]="16"
          mode="indeterminate"
        >
        </mat-progress-spinner>
        <mat-error
          *ngIf="f2.fusername.touched && f2.fusername.errors?.required"
        >
          {{ "LAYOUT__AUTH__REGISTER__ERROR__ID" | translate }}
        </mat-error>
        <mat-error
          *ngIf="f2.fusername.touched && f2.fusername.errors?.duplicate"
        >
          {{ "LAYOUT__AUTH__REGISTER__DUPLICATE__ID" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-label>{{
        "LAYOUT__AUTH__REGISTER__PASSWORD" | translate
      }}</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="fpassword"
          id="password"
          type="password"
          required
        />
        <mat-error *ngIf="f2.fpassword.touched && f2.fpassword.errors">
          {{ "LAYOUT__AUTH__REGISTER__ERROR__PASSWORD" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-label>
        {{ "LAYOUT__AUTH__REGISTER__CONFIRM_PASSWORD" | translate }}
      </mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="repassword"
          id="confirme_password"
          type="password"
          required
        />
        <mat-error
          *ngIf="
            signUpForm2.get('repassword').invalid &&
            signUpForm2.get('repassword').touched
          "
        >
          <ng-container *ngIf="f2.repassword.errors?.required">
            {{ "LAYOUT__AUTH__REGISTER__ERROR__CONFIRM__PASSWORD" | translate }}
          </ng-container>
          <ng-container *ngIf="f2.repassword.errors?.mustMatch">
            {{
              "LAYOUT__AUTH__REGISTER__ERROR__PASSWORD__MISMATCH" | translate
            }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form2-actions">
      <button mat-stroked-button class="submit-button" (click)="onStep3()">
        {{ "LAYOUT__AUTH__REGISTER__STEP2__CONFIRM" | translate }}
      </button>
      <div class="or">Or</div>
      <div class="group-button">
        <button mat-stroked-button (click)="$event.preventDefault()">
          {{ "LAYOUT__AUTH__LOGIN__LOGIN_WITH_KAKAOTALK" | translate }}
        </button>
        <button mat-stroked-button (click)="$event.preventDefault()">
          {{ "LAYOUT__AUTH__LOGIN__LOGIN_WITH_NAVER" | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #step3FormTemplate>
  <form
    class="spmed-small-form step-3-form"
    [formGroup]="signUpForm3"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <mat-label class="signup-title" translate>
        LAYOUT__AUTH__REGISTER__PERSONAL_INFO__NAME
      </mat-label>
      <div class="name-input-grid">
        <mat-form-field class="surname" appearance="outline">
          <input matInput type="text" formControlName="fsurname" />
          <mat-hint>
            {{ "LAYOUT__AUTH__REGISTER__SURNAME__HINT_LABEL" | translate }}
          </mat-hint>
          <mat-error>
            {{ "LAYOUT__AUTH__REGISTER__ERROR__SURNAME" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="fgivenname" />

          <mat-hint>
            {{ "LAYOUT__AUTH__REGISTER__GIVEN_NAME__HINT_LABEL" | translate }}
          </mat-hint>
          <mat-error>
            {{ "LAYOUT__AUTH__REGISTER__ERROR__GIVENNAME" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-label translate> LAYOUT__AUTH__REGISTER__DATE_OF_BIRTH </mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="date" formControlName="fdateofbirth" />
        <mat-error>
          {{ "LAYOUT__AUTH__REGISTER__ERROR__DOB" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-label>
        {{ "LAYOUT__AUTH__REGISTER__PERSONAL_INFO__GENDER" | translate }}
      </mat-label>
      <mat-radio-group
        class="gender-radio-group"
        formControlName="fgender"
        required
      >
        <mat-radio-button *ngFor="let gen of genders" [value]="gen.value">
          <span>{{ gen.data }}</span>
        </mat-radio-button>
      </mat-radio-group>
      <mat-error
        *ngIf="
          signUpForm3.get('fgender').invalid &&
          signUpForm3.get('fgender').touched
        "
      >
        {{ "LAYOUT__AUTH__REGISTER__ERROR__GENDER" | translate }}
      </mat-error>
    </div>

    <div>
      <mat-label>
        {{ "LAYOUT__AUTH__REGISTER__PERSONAL_INFO__EMAIL" | translate }}
      </mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="text" formControlName="femail" />
        <mat-progress-spinner
          *ngIf="isCheckingEmail"
          matSuffix
          [diameter]="24"
          mode="indeterminate"
        >
        </mat-progress-spinner>
        <mat-error *ngIf="f3.femail.touched">
          <ng-container *ngIf="f3.femail.errors?.email">
            {{ "LAYOUT__AUTH__REGISTER__ERROR__EMAIL_INVALID" | translate }}
          </ng-container>
          <ng-container *ngIf="f3.femail.errors?.required">
            {{ "LAYOUT__AUTH__REGISTER__ERROR__EMAIL_IS_REQUIRED" | translate }}
          </ng-container>
          <ng-container *ngIf="f3.femail.errors?.duplicate">
            {{
              "LAYOUT__AUTH__REGISTER__ERROR__EMAIL_IS_DUPLICATE" | translate
            }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-label>
        {{ "LAYOUT__AUTH__REGISTER__PERSONAL_INFO__PHONE" | translate }}
      </mat-label>
      <mat-form-field hintLabel="" appearance="outline">
        <input matInput type="text" formControlName="fphone" />
        <mat-error *ngIf="f3.fphone.touched">
          {{
            "LAYOUT__AUTH__REGISTER__ERROR__PHONE_NUMBER_IS_REQUIRED"
              | translate
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-stroked-button type="submit" class="submit-button">
      {{ "LAYOUT__AUTH__REGISTER__STEP3__CONFIRM" | translate }}
    </button>
  </form>
</ng-template>
