<div id="page">
  <div id="user-profiles-page">
    <div class="section">
      <app-introduction></app-introduction>
    </div>

    <div class="section">
      <app-demo-graphic></app-demo-graphic>
    </div>

    <div class="section">
      <app-medical-history
        [medicalHistoryList$]="medicalHistoryList$"
      ></app-medical-history>
    </div>

    <div class="section">
      <app-disease-history
        [diseaseHistoryList$]="diseaseHistoryList$"
      ></app-disease-history>
    </div>

    <div class="section">
      <app-life-style></app-life-style>
    </div>
  </div>
</div>
