<div id="page">
  <div id="user-profiles-page">
    <div class="section">
      <app-introduction [userProfile$]="userProfile$"></app-introduction>
    </div>

    <div class="section">
      <app-basic-information
        [weightHeightHistoryList$]="weightHeightHistoryList$"
      ></app-basic-information>
    </div>

    <div class="section">
      <app-medical-history
        [medicalHistoryList$]="medicalHistoryList$"
      ></app-medical-history>
    </div>

    <div class="section">
      <app-disease-history
        [diseaseHistoryList$]="diseaseHistoryList$"
      ></app-disease-history>
    </div>

    <div class="section">
      <app-life-style
        [lifeStyleHistoryList$]="lifeStyleHistoryList$"
      ></app-life-style>
    </div>
  </div>
</div>
