<div id="page">
  <div id="user-profiles-page">
    <div
      class="section"
      joyrideStep="USER_PROFILES__INTRODUCTION__STEP"
      [stepContent]="USER_PROFILES__INTRODUCTION__STEP"
    >
      <app-introduction [userProfile$]="userProfile$"></app-introduction>
    </div>

    <div
      class="section"
      joyrideStep="USER_PROFILES__BASIC_INFORMATION__STEP"
      [stepContent]="USER_PROFILES__BASIC_INFORMATION__STEP"
    >
      <app-basic-information
        [weightHeightHistoryList$]="weightHeightHistoryList$"
      ></app-basic-information>
    </div>

    <div
      class="section"
      joyrideStep="USER_PROFILES__MEDICAL_HISTORY__STEP"
      [stepContent]="USER_PROFILES__MEDICAL_HISTORY__STEP"
    >
      <app-medical-history
        [medicalHistoryList$]="medicalHistoryList$"
      ></app-medical-history>
    </div>

    <div
      class="section"
      joyrideStep="USER_PROFILES__DISEASE_HISTORY__STEP"
      [stepContent]="USER_PROFILES__DISEASE_HISTORY__STEP"
    >
      <app-disease-history
        [diseaseHistoryList$]="diseaseHistoryList$"
      ></app-disease-history>
    </div>

    <div
      class="section"
      joyrideStep="USER_PROFILES__LIFE_STYLE_HISTORY__STEP"
      [stepContent]="USER_PROFILES__LIFE_STYLE_HISTORY__STEP"
    >
      <app-life-style
        [lifeStyleHistoryList$]="lifeStyleHistoryList$"
      ></app-life-style>
    </div>
    <div class="section">
      <app-joyride-wrapper
        webGuideStep="USER_PROFILES__GENETIC_PROFILE__STEP"
        webGuideContent="{{
          'USER_PROFILES__GENETIC_PROFILE__STEP' | translate
        }}"
      >
        <app-genetic-profile
          [userVariants$]="userVariants$"
        ></app-genetic-profile>
      </app-joyride-wrapper>
    </div>
  </div>

  <button
    mat-mini-fab
    (click)="showWebTour()"
    class="spmed-md-fab-bottom-right"
  >
    <mat-icon>help_outline</mat-icon>
  </button>
</div>

<ng-template #USER_PROFILES__INTRODUCTION__STEP>
  {{ "USER_PROFILES__INTRODUCTION__STEP" | translate }}
</ng-template>

<ng-template #USER_PROFILES__BASIC_INFORMATION__STEP>
  {{ "USER_PROFILES__BASIC_INFORMATION__STEP" | translate }}
</ng-template>

<ng-template #USER_PROFILES__MEDICAL_HISTORY__STEP>
  {{ "USER_PROFILES__MEDICAL_HISTORY__STEP" | translate }}
</ng-template>

<ng-template #USER_PROFILES__DISEASE_HISTORY__STEP>
  {{ "USER_PROFILES__DISEASE_HISTORY__STEP" | translate }}
</ng-template>

<ng-template #USER_PROFILES__LIFE_STYLE_HISTORY__STEP>
  {{ "USER_PROFILES__LIFE_STYLE_HISTORY__STEP" | translate }}
</ng-template>
