<div fxLayout="column" fxLayoutAlign="start start" class="about-us-container">
  <!-- intro image -->
  <img
    src="https://spmed.kr/images/content/greeting_top.jpg"
    alt="intro-image"
    class="intro-image"
  />

  <!-- we are -> TODO: This is dynamic content-->
  <div>
    <h2>We are</h2>
    <p [innerHtml]="'ABOUT_US__SPMED_INTRODUCTION' | translate"></p>
    <!--
      With the recent surge in demand for personalized and high-precision
      medical services, services aimed at preventing and treating diseases based
      on genetic information have become a means to improve the quality of life.
      Of particular note, the non-clinical and clinical bio outsourcing market
      is growing rapidly for bringing about enhanced efficiency and specialized
      services in the pharmaceutical industry. Armed with more than 10 years of
      experience in pharmacogenomic research, non-clinical ADME assessments and
      clinical trials, as well as outstanding technology, SPMED Co., Ltd. plans
      to commercialize and popularize its quality products and services in the
      healthcare and pharmaceutical sectors instead of confining them to
      research. At SPMED, we promise to fulfill our social responsibilities by
      making relentless efforts toward positive change.
      -->
  </div>

  <!-- history -> TODO this is dynamic content -->
  <app-history></app-history>

  <!-- certificate -->
  <app-certificate-list></app-certificate-list>
</div>
