.tag-list-container {
  margin-top: 16px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    background-color: #f2f2f2;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 100%;
    color: black;
    font-weight: 500;
  }
}
