<div class="top-reading-list">
  <div class="title">
    {{ "NEWS__TOP_NEWS_LIST__TITLES__TOP_NEWS" | translate }}
  </div>
  <div
    *ngIf="newsListLoading; then loadingTemplate; else newsListTemplate"
  ></div>
</div>

<ng-template #loadingTemplate>
  <app-loader></app-loader>
</ng-template>

<ng-template #newsListTemplate>
  <div *ngIf="newsList && newsList.length > 0; else emptyTemplate">
    <div
      *ngFor="let news of newsList"
      class="news-list-item-container"
      [routerLink]="['/news', news.id]"
    >
      <div class="news-list-item">
        <div class="image">
          <img
            class="thumbnail-image"
            [src]="news.thumbnailUrl || defaultNewsImage"
            alt=""
          />
        </div>
        <div class="content">
          <div class="news-title">{{ news.title }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #emptyTemplate>
  <div class="not-found-container">
    <h4>
      {{ "NEWS__TOP_NEWS_LIST__STRINGS__EMPTY" | translate }}
    </h4>
  </div>
</ng-template>
