.reference-list-dialog {
  .header {
    font-size: 16px;
    color: var(--primary--color);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mat-icon {
      font-size: 14px;
      font-weight: 500;
      color: black;
    }
  }

  .content {
    counter-reset: preCounter;

    pre::before {
      counter-increment: preCounter;
      content: counter(preCounter) ". ";
    }
  }
}
