#login {
  padding: 16px;
  .login-form {
    width: 450px;
    min-width: 250px;

    .mat-button {
      width: 100%;
    }
  }

  .mat-card {
    border-radius: 2px;
    border: solid 1px #d8d8d8;
    box-shadow: none;
  }

  .mat-form-field {
    .mat-form-field-infix {
      height: 14px;
    }
  }

  .actions {
    margin-top: 16px;
  }

  .other-actions {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: var(--primary--color);
  }

  .login-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;

    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .login-full-width {
    width: 100%;
  }

  .login-comment {
    padding-bottom: 20px;
  }
  .right-align {
    text-align: right;
  }

  .center-align {
    text-align: center;
  }

  .login-button {
    width: 100%;
    font-weight: 500;
    background-color: var(--primary--color);
    color: white;
    border: none;
    border-radius: 2px;
  }

  .register-link {
    padding-left: 4px;
    color: var(--primary--color);
    font-weight: bold;
  }

  .login-register {
    padding: 10px 0px;
    font-size: 12px;
  }

  .forgot-password {
    text-align: right;
    font-weight: bold;
    font-size: 12px;
  }

  .kakao-button {
    width: 100%;
  }

  .naver-button {
    width: 100%;
  }

  mat-card-header {
    width: 100%;
    display: block;
    font-weight: 700;
  }
  mat-card-title {
    font-size: 30px;
    padding: 20px 0px 30px 0px;
    text-align: center;
  }
  mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #fff7fa;
  }
}
