<div fxLayout="column" fxLayoutAlign="center center" id="login-div">
  <form class="login-form" [formGroup]="loginForm">
    <mat-card>
      <mat-card-title> SPMED Login </mat-card-title>

      <mat-card-content>
        <mat-form-field class="login-full-width" appearance="fill">
          <input
            matInput
            placeholder="{{ this.cusername }}"
            formControlName="username"
          />
        </mat-form-field>
        <mat-form-field class="login-full-width" appearance="fill">
          <input
            matInput
            placeholder="{{ this.cpassword }}"
            formControlName="password"
            type="password"
          />
        </mat-form-field>
        <div fxLayout="row" class="login-comment">
          <div fxFlex="50">
            <mat-checkbox formControlName="rememberMe"
              ><span translate
                >LAYOUT__AUTH__LOGIN__REMEMBER_ME</span
              ></mat-checkbox
            >
          </div>
          <div fxFlex class="forgot-password">
            <a routerLink="/auth/reset-password"
              ><span translate>LAYOUT__AUTH__LOGIN__FORGOT_PASSWORD</span></a
            >
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          class="login-full-width login-button"
          (click)="login()"
        >
          <span translate>LAYOUT__AUTH__LOGIN__LOGIN</span>
        </button>

        <button
          mat-raised-button
          class="login-full-width kakao-button"
          (click)="loginWithKakaoTalk()"
        >
          <span translate>LAYOUT__AUTH__LOGIN__LOGIN_WITH_KAKAOTALK</span>
        </button>
        <button
          mat-raised-button
          class="login-full-width naver-button"
          (click)="loginWithNaver()"
        >
          <span translate>LAYOUT__AUTH__LOGIN__LOGIN_WITH_NAVER</span>
        </button>
        <div class="login-register">
          <span translate>LAYOUT__AUTH__LOGIN__YOU_DONT_HAVE_ANY_ACCOUNT</span>
          <a routerLink="/auth/register"
            ><span class="register-link" translate
              >LAYOUT__AUTH__LOGIN__REGISTER</span
            ></a
          >
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
