<div fxLayout="column" fxLayoutAlign="center center" style="padding:10px">
    <form class="login-form">
        <mat-card>
            <mat-card-title style="text-align:center">
                SPMED Login
            </mat-card-title>
        
            <mat-card-content>                                
                <mat-form-field class="login-full-width" appearance="fill" >
                    <input matInput placeholder="Your ID">
                </mat-form-field>
                <mat-form-field class="login-full-width" appearance="fill">
                    <input matInput placeholder="Your Password">
                </mat-form-field>
                <div fxLayout="row" class="login-comment">
                    <div fxFlex="50">
                    <mat-checkbox><span translate>layout.login.remember</span></mat-checkbox>
                    </div>
                    <div fxFlex class="forgot-password">
                        <a routerLink="/auth/reset-password"><span translate>layout.login.forgot.password</span></a>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="login-full-width login-button"><span translate>layout.login.button.title</span></button>                                                            
                
                <button mat-raised-button class="login-full-width" style="margin-top:40px;margin-right:5px;">Login with Kakaotalk</button>                                                            
                <button mat-raised-button class="login-full-width" style="margin-top:15px;margin-right:5px;">Login with Naver</button>                                                            
                <div class="login-register">
                    <span translate>layout.login.register-text</span>
                    <a routerLink="/auth/register"><span style="padding-left:5px; color: #003F9E;font-weight:bold;" translate>layout.login.register</span></a>
                </div>

            </mat-card-content>
        </mat-card>
    </form>
</div>