.snackbar-wrapper {
  .snackbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .message {
    font-weight: 400;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    mat-icon {
      font-size: 14px;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: solid 1px;
      margin-right: 8px;
    }
  }

  .action {
    font-weight: 500;
    color: var(--primary--color);
  }

  .action:hover {
  }
}
