#change-password {
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 0 !important;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 !important;
  }
  .mat-form-field {
    width: 100%;
    font-size: 14px;
  }

  mat-label {
    font-weight: 500;
    margin-bottom: 16px;
  }

  .submit-btn {
    background-color: var(--primary--color);
    color: white;
  }

  .required {
    color: red;
  }
}
