<div id="change-password">
  <h3 translate>USER__USER_SETTINGS__PASSWORD_SETTINGS__CHANGE_PASSWORD</h3>
  <form [formGroup]="resetPasswordForm" *ngIf="resetPasswordForm">
    <mat-label>
      <span translate>
        USER__USER_SETTINGS__PASSWORD_SETTINGS__CURRENT_PASSWORD
      </span>
      <span class="required">*</span></mat-label
    >
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        [placeholder]="
          'USER__USER_SETTINGS__PASSWORD_SETTINGS__PLACEHOLDERS__CURRENT_PASSWORD'
            | translate
        "
        name="currentPassword"
        formControlName="currentPassword"
      />

      <mat-error *ngIf="f.currentPassword?.touched || f.currentPassword?.dirty">
        <mat-icon>error</mat-icon>
        <span *ngIf="f.currentPassword?.errors?.required" translate>
          USER__USER_SETTINGS__PASSWORD_SETTINGS__ERRORS__YOU_NEED_TO_TYPE_CURRENT_PASSWORD
        </span>
      </mat-error>
    </mat-form-field>

    <mat-label>
      <span translate>
        USER__USER_SETTINGS__PASSWORD_SETTINGS__NEW_PASSWORD
      </span>
      <span class="required">*</span></mat-label
    >
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        name="newPassword"
        [placeholder]="
          'USER__USER_SETTINGS__PASSWORD_SETTINGS__PLACEHOLDERS__NEW_PASSWORD'
            | translate
        "
        formControlName="newPassword"
      />
      <mat-error *ngIf="f.newPassword?.touched || f.newPassword?.dirty">
        <mat-icon>error</mat-icon>
        <span *ngIf="f.newPassword?.errors?.required" translate>
          USER__USER_SETTINGS__PASSWORD_SETTINGS__ERRORS__YOU_NEED_TO_TYPE_NEW_PASSWORD
        </span>
        <span *ngIf="f.newPassword?.errors?.mustNotMatch" translate>
          USER__USER_SETTINGS__PASSWORD_SETTINGS__ERRORS__YOUR_NEW_PASSWORD_NEED_DIFFER_FROM_YOUR_CURRENT_PASSWORD
        </span>
        <span
          *ngIf="f.newPassword?.errors?.minlength"
          [translateParams]="{
            number: f.newPassword?.errors?.minlength?.requiredLength
          }"
          translate
        >
          USER__USER_SETTINGS__PASSWORD_SETTINGS__ERRORS__NEW_PASSWORD_MUST_BE_AT_LEAST_CHARACTER
        </span>
      </mat-error>
    </mat-form-field>

    <mat-label>
      <span translate>
        USER__USER_SETTINGS__PASSWORD_SETTINGS__RE_NEW_PASSWORD
      </span>
      <span class="required">*</span></mat-label
    >
    <mat-form-field appearance="outline">
      <input
        matInput
        type="password"
        name="reNewPassword"
        [placeholder]="
          'USER__USER_SETTINGS__PASSWORD_SETTINGS__PLACEHOLDERS__RE_NEW_PASSWORD'
            | translate
        "
        formControlName="reNewPassword"
      />
      <mat-error *ngIf="f.reNewPassword?.touched || f.reNewPassword?.dirty">
        <mat-icon>error</mat-icon>

        <span *ngIf="f.reNewPassword?.errors?.required" translate>
          USER__USER_SETTINGS__PASSWORD_SETTINGS__ERRORS__YOU_NEED_TO_TYPE_RE_NEW_PASSWORD
        </span>

        <span *ngIf="f.reNewPassword?.errors?.mustMatch" translate>
          USER__USER_SETTINGS__PASSWORD_SETTINGS__ERRORS__YOUR_RE_NEW_PASSWORD_MUST_MATCH_WITH_NEW_PASSWORD
        </span>
      </mat-error>
    </mat-form-field>

    <button
      mat-button
      class="submit-btn"
      (click)="submit(); $event.preventDefault()"
    >
      <span translate> USER__USER_SETTINGS__PASSWORD_SETTINGS__SUBMIT </span>
    </button>
  </form>
</div>
