.drug-table-statistic {
  margin: 1px;
  // for statistic
  .statistic {
    .card {
      background-color: #f2f2f2;
      margin-left: 16px;
      padding: 16px;
      border-radius: 1px;
      font-size: 16px;
      border-radius: 10px;
      border: solid 2px #ebebeb;
      width: 100%;
      b {
        display: inline-block;
        font-size: 20px;
        padding: 8px;
        width: 50px;
      }
    }

    .card:first-child {
      margin-left: 0;
    }

    .card-total-drug {
      color: var(--primary-b--color);
    }

    .card-total-gene {
      color: var(--primary-a--color);
    }

    .card-total-interpretation {
      color: var(--primary--color);
    }

    margin-bottom: 16px;
  }

  .box-list {
    margin: 0 -1px;
  }

  .box {
    padding: 8px;
    border-radius: 1px;
    width: 100px;
    font-weight: 500;
    // color: white;
    text-align: center;
    margin: 1px;
  }

  .box-mobile {
    flex: 1;
  }

  .box-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .danger {
    border: solid 2px var(--pdss--risk-level--danger--color);
    // color: white;
  }

  .warning {
    border: solid 2px var(--pdss--risk-level--warning--color);
  }

  .caution {
    border: solid 2px var(--pdss--risk-level--caution--color);
  }

  .good {
    border: solid 2px var(--pdss--risk-level--good--color);
  }

  .risk-level {
    font-size: 24px;
    font-weight: 500;
  }
  .danger-level {
    color: var(--pdss--risk-level--danger--color);
  }
  .warning-level {
    color: var(--pdss--risk-level--warning--color);
  }
  .caution-level {
    color: var(--pdss--risk-level--caution--color);
  }
  .good-level {
    color: var(--pdss--risk-level--good--color);
  }
}

@media screen and (max-width: 600px) {
  .drug-table-statistic {
    .box-content {
      flex-direction: column;
    }
  }
}
