<section id="about-us-wrapper">
  <div id="about-us" class="container">
    <div>
      <img
        id="about-us-image"
        src="https://image.freepik.com/free-vector/people-analyzing-growth-charts_23-2148866843.jpg"
        alt="about-us-image"
      />
    </div>
    <div id="about-us-content">
      <h1>{{ "HOME__SECTION_ABOUT_US__SPMED" | translate }}</h1>
      <h4>
        {{ "HOME__SECTION_ABOUT_US__SPMED_INTRODUCTION" | translate }}
      </h4>
      <button mat-button class="spmed-primary-button" routerLink="/about-us">
        {{ "HOME__SECTION_ABOUT_US__BUTTONS__MORE_ABOUT_US" | translate }}
      </button>
    </div>
  </div>
</section>
