<section id="about-us-wrapper">
  <div id="about-us" class="container">
    <div>
      <img
        id="about-us-image"
        src="https://image.freepik.com/free-vector/people-analyzing-growth-charts_23-2148866843.jpg"
        alt="about-us-image"
      />
    </div>
    <div id="about-us-content">
      <h1>SPMED</h1>
      <p>
        ed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo.
      </p>
      <button mat-button class="spmed-primary-button" routerLink="/about-us">
        More about us
      </button>
    </div>
  </div>
</section>
