#disease-history-list {
  .disease-history-list-item {
    padding: 8px 4px;
    span {
    }
    .drug-name {
      font-weight: 500;
    }
    .note {
      word-break: break-all;
    }
    .time-range {
      font-style: italic;
      color: rgba($color: #000000, $alpha: 0.8);
      font-size: 12px;
      mat-icon {
        font-size: 12px;
        width: 12px;
        height: 12px;
      }
    }
  }

  .edit-item {
    background-color: #f2f2f2;
    font-weight: 500;
  }

  .disease-history-list-item-edit {
    border: solid 2px #f2f2f2;
    padding: 10px 20px;
  }

  .disease-history-list-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .show-button {
    text-align: center;
    color: var(--primary--color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
  }

  .show-button:hover {
    font-weight: 600;
  }
}
