<!-- edit list -->
<ng-template
  [ngIf]="dataSource && dataSource.length > 0"
  [ngIfElse]="emptyData"
>
  <!-- data list -->
  <div id="disease-history-list">
    <div *ngFor="let diseaseHistory of dataSource">
      <div
        class="disease-history-list-item"
        fxLayout="row"
        [ngClass]="{
          'edit-item': mode$.value === 'EDIT' && isEditItem(diseaseHistory?.id)
        }"
      >
        <!-- list-item -->
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxLayoutGap="10px"
          fxLayout.lt-sm="column"
          fxLayoutAlign.lt-sm="none"
        >
          <span fxFlex="20" class="drug-name">{{
            diseaseHistory?.disease
          }}</span>
          <span fxFlex class="note">{{ diseaseHistory?.note }}</span>
          <span fxFlex="20" class="time-range">
            <mat-icon>schedule</mat-icon>
            {{ diseaseHistory?.fromDate }}
            <span *ngIf="diseaseHistory?.toDate" translate>
              USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__STRINGS__TO
            </span>
            <span *ngIf="diseaseHistory?.toDate">
              {{ diseaseHistory?.toDate }}
            </span>
            <span
              *ngIf="!diseaseHistory?.fromDate && !diseaseHistory?.toDate"
              translate
            >
              USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__STRINGS__NO_INFORMATION
            </span>
          </span>
        </div>

        <!-- list-item-actions -->
        <div class="actions" *ngIf="mode$.value == 'EDIT'" fxLayout="row">
          <button mat-icon-button (click)="toggleEdit(diseaseHistory.id)">
            <mat-icon class="edit-button">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteItem(diseaseHistory.id)">
            <mat-icon class="delete-button">delete_outline</mat-icon>
          </button>
        </div>
      </div>

      <!-- Edit form -->
      <div
        class="disease-history-list-item-edit"
        *ngIf="mode$.value === 'EDIT' && isEditItem(diseaseHistory.id)"
      >
        <app-disease-history-form
          [diseaseHistory]="diseaseHistory"
          (cancelEvent)="toggleEdit(diseaseHistory.id)"
          (saveEvent)="updateItem($event)"
        ></app-disease-history-form>
      </div>
    </div>

    <ng-container
      *ngIf="diseaseHistoryList$.value?.length > 3 && mode$.value === 'VIEW'"
    >
      <div
        class="show-button"
        *ngIf="showLess$.value"
        (click)="showLess$.next(false)"
      >
        <span translate>
          USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__BUTTONS__SHOW_MORE
        </span>
        <mat-icon>expand_more</mat-icon>
      </div>
      <div
        class="show-button"
        *ngIf="!showLess$.value"
        (click)="showLess$.next(true)"
      >
        <span translate>
          USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__BUTTONS__SHOW_LESS
        </span>
        <mat-icon>expand_less</mat-icon>
      </div>
    </ng-container>
  </div>

  <!-- actions -->
  <div
    class="actions"
    *ngIf="mode$.value == 'EDIT'"
    fxLayout="row"
    fxLayoutAlign="flex-end center"
  >
    <button mat-stroked-button (click)="cancelClick()">
      <span translate>
        USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__BUTTONS__CANCEL
      </span>
    </button>
  </div>
</ng-template>

<ng-template #emptyData>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img
      src="/assets/images/empty.svg"
      alt="image"
      width="40px"
      height="40px"
    />
    <h3 translate>
      USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__STRINGS__EMPTY
    </h3>
  </div>
  <div class="actions" fxLayout="row" fxLayoutAlign="flex-end center">
    <button
      mat-stroked-button
      *ngIf="mode$.value == 'EDIT'"
      (click)="cancelClick()"
    >
      <span translate>
        USER__USER_PROFILES__DISEASE_HISTORY__DISEASE_HISTORY_LIST__BUTTONS__CANCEL
      </span>
    </button>
  </div>
</ng-template>
