.row-expanded {
  .cell {
    max-width: 100%;
  }

  .reference-of-evidence {
    font-size: 12px;
    font-style: italic;
    color: gray;
  }

  .cell-label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #003f9e;
  }
  font-size: 12px;
  // for drug detail
  .drug-information {
    margin-bottom: 16px;
  }

  .mobile-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .website-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
