#page {
  min-height: 80vh;
  background-color: #f2f2f2;

  #drug-detail-page {
    max-width: var(--secondary--screen);
    margin: auto;
    padding: 16px;

    .section {
      background-color: white;
      border: solid 1px #d8d8d8;
      border-radius: 3px;
    }
    .section:not(:first-child) {
      margin-top: 16px;
    }

    #drug-info {
      .title {
        padding: 16px 16px 0 16px;
      }
      .content {
        padding: 20px;
      }
      .add-button {
        color: white;
        background-color: var(--primary--color);
      }
    }
  }
}
