<div id="disease-history">
  <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 translate>
      USER__USER_PROFILES__DISEASE_HISTORY__TITLES__DISEASE_HISTORY
    </h2>
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menuEdit"
        joyrideStep="USER_PROFILES__DISEASE_HISTORY__MANAGE__STEP"
        stepPosition="bottom"
        text="{{
          'USER_PROFILES__DISEASE_HISTORY__MANAGE__STEP__CONTENT' | translate
        }}"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <!--
      <button
        mat-button
        class="add-button"
        *ngIf="
          mode$.value === 'VIEW' &&
          (!diseaseHistoryList || diseaseHistoryList.length === 0)
        "
        (click)="changeMode('ADD')"
      >
        <span translate>
          USER__USER_PROFILES__DISEASE_HISTORY__BUTTONS__ADD
        </span>
      </button> -->
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <!-- add -->
    <app-disease-history-form
      *ngIf="mode$.value === 'ADD'"
      (cancelEvent)="changeMode('VIEW')"
      (createEvent)="create($event)"
    ></app-disease-history-form>

    <!-- view -->
    <app-disease-history-list
      *ngIf="mode$.value === 'EDIT' || mode$.value === 'VIEW'"
      [mode$]="mode$"
      [showLess$]="showLess$"
      [diseaseHistoryList$]="diseaseHistoryList$"
      (showLessEvent)="changeShowLess($event)"
      (deleteEvent)="deleteItem($event)"
      (cancelEvent)="changeMode('VIEW')"
      (updateEvent)="updateItem($event)"
    >
    </app-disease-history-list>
  </div>
</div>

<mat-menu #menuEdit="matMenu">
  <button mat-menu-item (click)="changeMode('ADD')">
    {{ "USER__USER_PROFILES__DISEASE_HISTORY__BUTTONS__ADD" | translate }}
  </button>
  <button mat-menu-item (click)="changeMode('EDIT')">
    {{ "USER__USER_PROFILES__DISEASE_HISTORY__BUTTONS__MANAGE" | translate }}
  </button>
</mat-menu>
