<section id="introduction-wrapper" class="hidden">
  <div id="introduction" class="container">
    <h2>What is Pharmacogenomic Test?</h2>
    <p>
      Personalized service for checking the genes associated with the mechanism
      of the action of the drug in question as a means to increase its
      effectiveness and prevent potential side effects, thereby ensuring that
      the prescription is suitable for the individual concerned.
    </p>
    <div class="introduction-video">
      <iframe
        width="100%"
        height="100%"
        src="http://spmed.kr/kr/video/spmed_01_ko.mp4"
        title="PDSS Introduction"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
