.introduction-detail {
  .avatar-mobile {
    width: 100%;
  }
  .avatar {
    object-fit: cover;
    width: 250px;
    height: 250px;
    max-width: 100%;
    margin-bottom: 16px;
  }
  .content {
    padding: 20px;
  }

  .member {
    padding: 4px 8px;
    border: 1px solid #d8d8d8;
    background-color: #f2f2f2;
    font-weight: 600;
    border-radius: 900px;
  }
  .user-information {
    .row-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title {
      display: inline-block;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .field {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      mat-icon,
      span {
        margin-right: 8px;
      }
    }
  }

  .grid {
    display: grid;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}
