<footer>
  <mat-divider></mat-divider>
  <div class="footer-box">
    <div
      class="flex-container"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
    >
      <div fxLayout="column">
        <div class="logo"><img src="../../../../assets/common/logo.jpg" /></div>
        <div class="footer-txt" translate>LAYOUT__FOOTER__COPYRIGHT</div>
        <div class="sns" fxLayout="row">
          <div *ngFor="let snsLink of snsLinkList">
            <a
              mat-icon-button
              target="_blank"
              [href]="snsLink.link"
              [title]="snsLink.title"
            >
              <img class="sns-icon" [src]="snsLink.iconLink" />
            </a>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-lg="column" style="padding-left: 10px">
        <div fxLayout="row" fxLayoutAlign="none" class="footer-contents">
          <div fxFlex="50">
            <div class="footer-title">Service</div>
            <div class="address">
              <a routerLink="/pdss">PDSS - My Prescription</a>
            </div>
            <div class="address"><a routerLink="/adme">ADME service</a></div>
            <div class="address">Genotyping KIT</div>
            <div class="address">Human Recombinant Enzymes</div>
          </div>
          <div fxFlex>
            <div class="footer-title">Link</div>
            <div class="address" translate>
              LAYOUT__FOOTER__LINK__COMPANY_INTRODUCTION
            </div>
            <div class="address" translate>
              LAYOUT__FOOTER__LINK__TERM_OF_POLICY
            </div>
            <div class="address" translate>
              LAYOUT__FOOTER__LINK__PRIVACY_POLICY
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="none" class="footer-contents">
          <div fxFlex>
            <div class="footer-title">Contact Us</div>
            <div class="address">Tel : +82-51-362-1101</div>
            <div class="address">Email: help@spmed.kr</div>
            <div class="address">Fax : +82-51-361-1102</div>
          </div>
          <div fxFlex>
            <div class="footer-title">Address</div>
            <div class="address-title" translate>
              LAYOUT__FOOTER__ADDRESS__HEAD_QUARTER
            </div>
            <div class="address" translate>
              LAYOUT__FOOTER__ADDRESS__HEAD_QUARTER_ADRESS
            </div>
            <span class="address-title" translate
              >LAYOUT__FOOTER__ADDRESS__SEOUL_BRANCH</span
            >
            <div class="address" translate>
              LAYOUT__FOOTER__ADDRESS__SEOUL_BRANCH_ADDRESS
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
      <div class="flex-container" fxLayoutAlign="center center">
        <div class="copyright" translate>LAYOUT__FOOTER__COPYRIGHT</div>
      </div>
    -->
  </div>
</footer>
