<footer>
  <mat-divider></mat-divider>
  <div class="footer-box">
    <div
      fxLayout="row"
      fxLayoutGap="25px"
      fxLayout.lt-md="column"
      fxLayoutGap.lt-sm="10px"
    >
      <div fxFlex="25" fxLayout="column">
        <div class="logo"><img src="../../../../assets/common/logo.jpg" /></div>
        <div class="footer-txt">
          {{ footerInfo.titles.copyright | translate }}
        </div>
        <div class="sns" fxLayout="row">
          <div *ngFor="let snsLink of snsLinkList">
            <a
              mat-icon-button
              target="_blank"
              [href]="snsLink.link"
              [title]="snsLink.title"
            >
              <img class="sns-icon" [src]="snsLink.iconLink" />
            </a>
          </div>
        </div>
      </div>
      <div
        fxFlex
        fxLayout="row"
        fxLayoutAlign="space-between start"
        fxLayoutGap="10px"
        fxLayout.lt-sm="column"
      >
        <!-- services start -->
        <div fxFlex="25">
          <div class="footer-title">
            {{ footerInfo.titles.services | translate }}
          </div>
          <div class="address" *ngFor="let service of footerInfo.serviceList">
            <a [routerLink]="service.routerLink">
              {{ service.title | translate }}
            </a>
          </div>
        </div>
        <!-- services end -->

        <!-- links start -->

        <div fxFlex="25">
          <div class="footer-title">
            {{ footerInfo.titles.links | translate }}
          </div>
          <div class="address" translate>
            LAYOUT__FOOTER__LINK__COMPANY_INTRODUCTION
          </div>
          <div class="address" translate>
            LAYOUT__FOOTER__LINK__TERM_OF_POLICY
          </div>
          <div class="address" translate>
            LAYOUT__FOOTER__LINK__PRIVACY_POLICY
          </div>
        </div>

        <!-- links end -->

        <!-- contact us start -->

        <div fxFlex="25">
          <div class="footer-title">
            {{ footerInfo.titles.contactUs | translate }}
          </div>
          <div class="address">Tel : +82-51-362-1101</div>
          <div class="address">Email: help@spmed.kr</div>
          <div class="address">Fax : +82-51-361-1102</div>
        </div>
        <!-- contact us end -->

        <!-- address start-->
        <div fxFlex="25">
          <div class="footer-title">
            {{ footerInfo.titles.addresses | translate }}
          </div>
          <ng-container *ngFor="let address of footerInfo.addressList">
            <div class="address-title">
              {{ address.name | translate }}
            </div>
            <div class="address">
              {{ address.address | translate }}
            </div>
          </ng-container>
        </div>
        <!-- address end-->
      </div>
    </div>
  </div>
</footer>
