<div
  class="overlay-container"
  @overlayOpenClose
  *ngIf="selectedList?.length > 0"
>
  <div
    class="overlay-wrapper spmed-small-scrollbar"
    *ngIf="selectedList?.length > 0"
  >
    <div class="header">
      <div class="title">
        <span class="total">{{ selectedList?.length }}</span>
        <span>services selected</span>
      </div>
      <div class="actions">
        <button mat-button color="accent" (click)="showAll = !showAll">
          {{ showAll ? "Hide" : "Show" }}
        </button>
        <button mat-flat-button color="primary">Request</button>
      </div>
    </div>
    <div class="full-content list-container" *ngIf="showAll">
      <div *ngFor="let service of selectedList" class="list-item">
        <div>• {{ service.title }}</div>
      </div>
    </div>
  </div>
</div>
