<div id="medical-history-form">
  <h3 *ngIf="mode === 'ADD'" translate>
    USER__USER_PROFILES__MEDICAL_HISTORY_FORM__TITLE__ADD_NEW_MEDICAL_HISTORY
  </h3>
  <form [formGroup]="medicalForm" *ngIf="medicalForm">
    <!-- drug, from date, to date -->
    <div
      fxLayout="row"
      fxLayoutGap="16px"
      fxLayout.lt-md="column"
      fxLayoutGap.lt-sm="0px"
    >
      <div class="form-field">
        <mat-label>
          <span translate
            >USER__USER_PROFILES__MEDICAL_HISTORY_FORM__LABELS__DRUG</span
          >
          <span class="required">*</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="drug"
            [placeholder]="
              'USER__USER_PROFILES__MEDICAL_HISTORY_FORM__PLACEHOLDER__DRUG_NAME'
                | translate
            "
            [matAutocomplete]="drugSynonymAutocomplete"
          />
          <mat-autocomplete #drugSynonymAutocomplete="matAutocomplete">
            <mat-option
              *ngFor="let option of drugSynonymOptions"
              [value]="option.synonyms"
            >
              {{ option.synonyms }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="f?.drug?.dirty || f?.drug?.touched">
            <mat-icon>error</mat-icon>
            <span *ngIf="f?.drug?.errors?.required" translate>
              USER__USER_PROFILES__MEDICAL_HISTORY_FORM__ERRORS__REQUIRED_DRUG_NAME
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="8px"
        fxLayout.lt-sm="column"
        fxLayoutGap.lt-sm="0px"
      >
        <div class="form-field">
          <mat-label translate>
            USER__USER_PROFILES__MEDICAL_HISTORY_FORM__LABELS__FROM_DATE
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="pickerFromDate"
              [max]="f?.toDate?.value"
              formControlName="fromDate"
              [placeholder]="
                'USER__USER_PROFILES__MEDICAL_HISTORY_FORM__PLACEHOLDER__CHOOSE_DATE'
                  | translate
              "
              [disabled]="true"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerFromDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerFromDate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-label translate>
            USER__USER_PROFILES__MEDICAL_HISTORY_FORM__LABELS__TO_DATE
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [min]="f?.fromDate?.value"
              [matDatepicker]="pickerToDate"
              formControlName="toDate"
              [placeholder]="
                'USER__USER_PROFILES__MEDICAL_HISTORY_FORM__PLACEHOLDER__CHOOSE_DATE'
                  | translate
              "
              [disabled]="true"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerToDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerToDate disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- drug, from date, to date end -->

    <!-- note -->
    <div class="form-field">
      <mat-label translate>
        USER__USER_PROFILES__MEDICAL_HISTORY_FORM__LABELS__NOTE
      </mat-label>
      <mat-form-field appearance="outline">
        <textarea
          matInput
          cdkTextareaAutosize
          [placeholder]="
            'USER__USER_PROFILES__MEDICAL_HISTORY_FORM__PLACEHOLDER__DRUG_DETAIL'
              | translate
          "
          formControlName="note"
          rows="6"
        ></textarea>
      </mat-form-field>
    </div>
    <!-- note end-->

    <!-- form actions -->
    <div class="form-actions" fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-stroked-button
        class="cancel-button"
        (click)="cancelClick(); $event.preventDefault()"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY_FORM__BUTTONS__CANCEL
        </span>
      </button>
      <button
        *ngIf="mode === 'EDIT'"
        mat-button
        class="save-button"
        (click)="saveClick(); $event.preventDefault()"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY_FORM__BUTTONS__SAVE
        </span>
      </button>

      <button
        *ngIf="mode === 'ADD'"
        mat-button
        class="create-button"
        (click)="createClick(); $event.preventDefault()"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY_FORM__BUTTONS__CREATE
        </span>
      </button>
    </div>
    <!-- form actions end-->
  </form>
</div>
