<div id="page">
  <div id="gene-page">
    <div class="section">
      <div id="gene-info">
        <app-search></app-search>
        <div
          class="title"
          fxLayout="column"
          fxLayoutAlign="space-between left"
          *ngIf="!!gene"
        >
          <!--<div class="default-margin"></div>-->
          <div fxFlex="100">
            <h1 class="bold">{{ gene.symbol }}</h1>
            <h4>{{ gene.scientificName }}</h4>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
              <ng-container matColumnDef="guideline">
                <td>
                  <div *ngIf="gene.hasPharmgkbGuideline > 0; else noPgkbGuide">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/guideline_yes.png"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbGuideline || 0 }}  {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_GUIDELINE'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbGuide>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/guideline_no.png"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbGuideline || 0 }} {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_GUIDELINE'
                          | translate
                      }}  PGKB Guideline"
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="drugLabel">
                <td>
                  <div *ngIf="gene.hasPharmgkbDruglabel > 0; else noPgkbLabel">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/druglabel_yes.png"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbDruglabel || 0 }} {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_DRUG_LABEL'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbLabel>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/druglabel_no.png"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbDruglabel || 0 }}  {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_DRUG_LABEL'
                          | translate
                      }} "
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="ca">
                <td>
                  <div *ngIf="gene.hasPharmgkbCa > 0; else noPgkbCa">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/clinicalannotation_yes.png"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbCa || 0 }}  {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_CLINICAL_ANNOTATION'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbCa>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/clinicalannotation_no.png"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbCa || 0 }} {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_CLINICAL_ANNOTATION'
                          | translate
                      }}"
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="va">
                <td>
                  <div *ngIf="gene.hasPharmgkbVa > 0; else noPgkbVa">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/variantannotation_yes.jpg"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbVa || 0 }} {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_VARIANT_ANNOTATION'
                          | translate
                      }}"
                    />
                  </div>
                  <ng-template #noPgkbVa>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/variantannotation_no.jpg"
                      width="50px"
                      matTooltip="{{ gene.hasPharmgkbVa || 0 }} {{
                        'PDSS__BROWSER__GENE__TOOLTIP__PGKB_VARIANT_ANNOTATION'
                          | translate
                      }}"
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="spmed">
                <td>
                  <div *ngIf="gene.hasSpmedGuideline > 0; else noSpmed">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/spmed_yes.png"
                      width="50px"
                      matTooltip="{{ gene.hasSpmedGuideline || 0 }} {{
                        'PDSS__BROWSER__GENE__TOOLTIP__SPMED_GUIDELINE'
                          | translate
                      }}"
                    />
                  </div>
                  <ng-template #noSpmed>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/spmed_no.png"
                      width="50px"
                      matTooltip="{{ gene.hasSpmedGuideline || 0 }}  {{
                        'PDSS__BROWSER__GENE__TOOLTIP__SPMED_GUIDELINE'
                          | translate
                      }}"
                    />
                  </ng-template>
                </td>
              </ng-container>
            </div>
            <!--
        <div class="default-margin">
          <img
            src="../../../../../../assets/pgx/drug_info_icon.png"
            style="width: 80%"
          />
        </div>
        -->
            <div class="default-margin" *ngIf="!!gene.summary">
              <h2>
                {{ "PDSS__BROWSER__GENE__TITLES__WHAT_IS" | translate }}
                {{ gene.symbol }}
              </h2>
              <div>
                <div
                  class="sub-content"
                  *ngIf="this.languageService.currentLanguage == 'en'"
                >
                  {{ gene.summary }}
                </div>
                <div
                  class="sub-content"
                  *ngIf="this.languageService.currentLanguage == 'kr'"
                ></div>
              </div>
            </div>

            <div class="default-margin">
              <h2>
                {{ "PDSS__BROWSER__GENE__TITLES__RELATED_DRUGS" | translate }}
              </h2>
              <div
                fxLayout="row wrap"
                fxLayout.lt-sm="column"
                fxLayoutAlign="start left"
              >
                <div class="drug" *ngFor="let drug of gene.drugs">
                  <a
                    class="white"
                    [routerLink]="['/pdss/drug', drug.id, 'detail']"
                    >{{ drug.name }}</a
                  >
                </div>
              </div>
            </div>

            <div class="default-margin">
              <h2>
                {{
                  "PDSS__BROWSER__GENE__TITLES__EXTERNAL_INFORMATION"
                    | translate
                }}
              </h2>
              <table class="ex-link">
                <tr *ngIf="gene.idPharmgkb">
                  <td class="w100" style="width: 100px">
                    {{ "PDSS__BROWSER__GENE__TITLES__PHARMGKB" | translate }}
                  </td>
                  <td class="link">
                    <a
                      href="https://www.pharmgkb.org/gene/{{ gene.idPharmgkb }}"
                      target="_blank"
                    >
                      {{ gene.idPharmgkb }}
                    </a>
                  </td>
                </tr>
                <tr *ngIf="gene.idNcbi">
                  <td class="w100">
                    {{ "PDSS__BROWSER__GENE__TITLES__NCBI" | translate }}
                  </td>
                  <td class="link">
                    <a
                      href="https://www.ncbi.nlm.nih.gov/gene/{{ gene.idNcbi }}"
                      target="_blank"
                      >{{ gene.idNcbi }}</a
                    >
                  </td>
                </tr>
                <tr *ngIf="gene.idHgnc">
                  <td class="w100">
                    {{ "PDSS__BROWSER__GENE__TITLES__HGNC" | translate }}
                  </td>
                  <td class="link">
                    <a
                      href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{
                        gene.idHgnc
                      }}"
                      target="_blank"
                      >{{ gene.idHgnc }}</a
                    >
                  </td>
                </tr>
                <tr *ngIf="gene.idEnsembl">
                  <td class="w100">
                    {{ "PDSS__BROWSER__GENE__TITLES__ENSEMBL" | translate }}
                  </td>
                  <td class="link">
                    <a
                      href="https://www.ensembl.org/id/{{ gene.idEnsembl }}"
                      target="_blank"
                      >{{ gene.idEnsembl }}</a
                    >
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
