<div id="page">
  <div id="drug-detail-page">
    <div class="section">
      <div id="drug-info">
        <div
          class="title"
          fxLayout="column"
          fxLayoutAlign="space-between left"
          *ngIf="!!drug"
        >
          <div class="default-margin"></div>
          <div fxFlex="100">
            <h1 class="bold">
              <span *ngIf="this.languageService.currentLanguage == 'en'">{{
                drug.name | titlecase
              }}</span>
              <span *ngIf="this.languageService.currentLanguage == 'kr'">{{
                drug.kr.name + "(" + drug.name + ")"
              }}</span>
            </h1>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
              <ng-container matColumnDef="guideline">
                <td>
                  <div *ngIf="drug.hasPharmgkbGuideline > 0; else noPgkbGuide">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/guideline_yes.png"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbGuideline || 0 }}  {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_GUIDELINE'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbGuide>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/guideline_no.png"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbGuideline || 0 }}  {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_GUIDELINE'
                          | translate
                      }} "
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="drugLabel">
                <td>
                  <div *ngIf="drug.hasPharmgkbDruglabel > 0; else noPgkbLabel">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/druglabel_yes.png"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbDruglabel || 0 }}  {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_DRUG_LABEL'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbLabel>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/druglabel_no.png"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbDruglabel || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_DRUG_LABEL'
                          | translate
                      }} "
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="ca">
                <td>
                  <div *ngIf="drug.hasPharmgkbCa > 0; else noPgkbCa">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/clinicalannotation_yes.png"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbCa || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_CLINICAL_ANNOTATION'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbCa>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/clinicalannotation_no.png"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbCa || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_CLINICAL_ANNOTATION'
                          | translate
                      }} "
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="va">
                <td>
                  <div *ngIf="drug.hasPharmgkbVa > 0; else noPgkbVa">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/variantannotation_yes.jpg"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbVa || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_VARIANT_ANNOTATION'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noPgkbVa>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/variantannotation_no.jpg"
                      width="50px"
                      matTooltip="{{ drug.hasPharmgkbVa || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__PGKB_VARIANT_ANNOTATION'
                          | translate
                      }} "
                    />
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="spmed">
                <td>
                  <div *ngIf="drug.hasSpmedGuideline > 0; else noSpmed">
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/spmed_yes.png"
                      width="50px"
                      matTooltip="{{ drug.hasSpmedGuideline || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__SPMED_GUIDELINE'
                          | translate
                      }} "
                    />
                  </div>
                  <ng-template #noSpmed>
                    <img
                      mat-card-avatar
                      src="../../../../../../assets/pgx/spmed_no.png"
                      width="50px"
                      matTooltip="{{ drug.hasSpmedGuideline || 0 }} {{
                        'PDSS__BROWSER__DRUG__TOOLTIP__SPMED_GUIDELINE'
                          | translate
                      }} "
                    />
                  </ng-template>
                </td>
              </ng-container>
            </div>
          </div>
          <!--
        <div class="default-margin">
          <img
            src="../../../../../../assets/pgx/drug_info_icon.png"
            style="width: 80%"
          />
        </div>
        -->
          <div class="default-margin" fxFlex="100" *ngIf="!!drug.summary">
            <h2 id="whatIs">
              {{ "PDSS__BROWSER__DRUG__TITLES__WHAT_IS" | translate }}
              {{ drug.name | titlecase }}
            </h2>
            <div>
              <div
                class="sub-content"
                *ngIf="this.languageService.currentLanguage == 'en'"
              >
                {{ drug.summary }}
              </div>
              <div
                class="sub-content"
                *ngIf="this.languageService.currentLanguage == 'kr'"
              >
                {{ drug.kr.summary }}
              </div>
            </div>
            <div
              *ngIf="
                !!drug.indicationSummarySpmed ||
                !!drug.kr.indicationSummarySpmed
              "
            >
              <h2 class="sub-title">
                {{ "PDSS__BROWSER__DRUG__TITLES__INDICATION" | translate }}
              </h2>
              <div
                class="sub-content"
                *ngIf="this.languageService.currentLanguage == 'en'"
              >
                {{ drug.indicationSummarySpmed }}
              </div>
              <div
                class="sub-content"
                *ngIf="this.languageService.currentLanguage == 'kr'"
              >
                {{ drug.kr.indicationSummarySpmed }}
              </div>
            </div>
            <div
              *ngIf="
                !!drug.toxicitySummarySpmed || !!drug.kr.toxicitySummarySpmed
              "
            >
              <h2 class="sub-title">
                {{ "PDSS__BROWSER__DRUG__TITLES__TOXICITY" | translate }}
              </h2>
              <div
                class="sub-content"
                *ngIf="this.languageService.currentLanguage == 'en'"
              >
                {{ drug.toxicitySummarySpmed }}
              </div>
              <div
                class="sub-content"
                *ngIf="this.languageService.currentLanguage == 'kr'"
              >
                {{ drug.kr.toxicitySummarySpmed }}
              </div>
            </div>
          </div>

          <div class="default-margin" fxFlex="100">
            <h2>
              {{ "PDSS__BROWSER__DRUG__TITLES__RELATED_GENES" | translate }}
              ({{ drug?.genes?.length || 0 }})
            </h2>
            <div
              fxLayout="row wrap"
              fxLayout.lt-sm="column"
              fxLayoutAlign="start left"
            >
              <div class="brand" *ngFor="let gene of drug.genes">
                <a
                  class="white"
                  [routerLink]="['/pdss/gene', gene.id, 'detail']"
                  >{{ gene.symbol }}</a
                >
              </div>
            </div>
          </div>

          <div
            class="default-margin"
            fxFlex="100"
            *ngIf="drugSynonyms?.length > 0"
          >
            <h2>
              {{
                "PDSS__BROWSER__DRUG__TITLES__SYNONYMS_INFORMATION" | translate
              }}

              ({{ drugSynonyms.length || 0 }})
            </h2>
            <div class="content">
              <ul>
                <!-- show less -->
                <ng-container
                  *ngIf="!drugSynonymsShowMore && drugSynonyms.length > 0"
                >
                  <li *ngFor="let synonym of drugSynonyms | slice: 0:5">
                    <span *ngIf="synonym.type != 'Generic_Name'">{{
                      synonym.synonyms
                    }}</span>
                  </li>
                </ng-container>

                <!-- show more -->
                <ng-container
                  *ngIf="drugSynonymsShowMore && drugSynonyms.length > 0"
                >
                  <li *ngFor="let synonym of drugSynonyms">
                    <span *ngIf="synonym.type != 'Generic_Name'">{{
                      synonym.synonyms
                    }}</span>
                  </li>
                </ng-container>
              </ul>

              <div
                class="action-show"
                fxLayoutAlign="start start"
                fxLayoutAlign.lt-sm="center center"
              >
                <span
                  *ngIf="!drugSynonymsShowMore"
                  (click)="drugSynonymsShowMore = true"
                  class="show-button"
                >
                  {{ "PDSS__BROWSER__DRUG__BUTTONS__SHOW_MORE" | translate }}
                  <mat-icon>expand_more</mat-icon>
                </span>
                <span
                  *ngIf="drugSynonymsShowMore"
                  (click)="drugSynonymsShowMore = false"
                  class="show-button"
                  >{{ "PDSS__BROWSER__DRUG__BUTTONS__SHOW_LESS" | translate }}
                  <mat-icon>expand_less</mat-icon>
                </span>
              </div>
            </div>
          </div>
          <div class="default-margin" fxFlex="100">
            <h2>
              {{
                "PDSS__BROWSER__DRUG__TITLES__EXTERNAL_INFORMATION" | translate
              }}
            </h2>
            <table class="ex-link">
              <tr *ngIf="drug.idPharmgkb">
                <td class="w100">
                  {{ "PDSS__BROWSER__DRUG__TITLES__PHARMGKB" | translate }}
                </td>
                <td class="link">
                  <a
                    href="https://www.pharmgkb.org/chemical/{{
                      drug.idPharmgkb
                    }}"
                    target="_blank"
                  >
                    {{ drug.idPharmgkb }}
                  </a>
                </td>
              </tr>
              <tr *ngIf="drug.idDrugbank">
                <td class="w100">
                  {{ "PDSS__BROWSER__DRUG__TITLES__DRUGBANK" | translate }}
                </td>
                <td class="link">
                  <a
                    href="https://go.drugbank.com/drugs/{{ drug.idDrugbank }}"
                    target="_blank"
                    >{{ drug.idDrugbank }}</a
                  >
                </td>
              </tr>
              <tr *ngIf="drug.pubchemCompoundIdentifier">
                <td class="w100">
                  {{ "PDSS__BROWSER__DRUG__TITLES__PUBCHEM" | translate }}
                </td>
                <td class="link">
                  <a
                    href="https:  //pubchem.ncbi.nlm.nih.gov/compound/{{
                      drug.pubchemCompoundIdentifier
                    }}"
                    target="_blank"
                    >{{ drug.pubchemCompoundIdentifier }}</a
                  >
                </td>
              </tr>
              <!--
            <tr *ngIf="drug.rxnormIdentifier">
              <td class="w100">RxNorm</td>
              <td>{{ drug.rxnormIdentifier }}</td>
            </tr>
            --></table>
            <br />
            <table>
              <tr>
                <td class="w100" *ngIf="drug.exVoca !== null">
                  {{
                    "PDSS__BROWSER__DRUG__TITLES__EXTERNAL_VOCABULARY"
                      | translate
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  <div *ngFor="let item of exVoca; index as i">{{ item }}</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
