<div id="drug-detail-page">
  <div class="section">
    <div id="drug-info">
      <div
        class="title"
        fxLayout="column"
        fxLayoutAlign="space-between left"
        *ngIf="!!drug"
      >
        <h1 class="bold">{{ drug.name | titlecase }}</h1>
        <div class="default-margin"></div>
        <table style="width: 300px">
          <ng-container matColumnDef="guideline">
            <td>
              <img
                src="../../../../../../assets/pgx/guideline_yes.png"
                width="50px"
              />
            </td>
          </ng-container>
          <ng-container matColumnDef="drugLabel">
            <td>
              <img
                src="../../../../../../assets/pgx/druglabel_yes.png"
                width="50px"
              />
            </td>
          </ng-container>
          <ng-container matColumnDef="ca">
            <td>
              <img
                src="../../../../../../assets/pgx/clinicalannotation_yes.png"
                width="50px"
              />
            </td>
          </ng-container>
          <ng-container matColumnDef="va">
            <td>
              <img
                src="../../../../../../assets/pgx/variantannotation_yes.jpg"
                width="50px"
              />
            </td>
          </ng-container>
          <ng-container matColumnDef="spmed">
            <td>
              <img
                src="../../../../../../assets/pgx/spmed_yes.png"
                width="50px"
              />
            </td>
          </ng-container>
        </table>

        <div class="default-margin">
          <img
            src="../../../../../../assets/pgx/drug_info_icon.png"
            style="width: 80%"
          />
        </div>
        <div class="default-margin">
          <h2>What is {{ drug.name | titlecase }}</h2>
          <div *ngIf="!!drug.summary">
            <div
              class="sub-content"
              *ngIf="this.languageService.currentLanguage == 'en'"
            >
              {{ drug.summary }}
            </div>
            <div
              class="sub-content"
              *ngIf="this.languageService.currentLanguage == 'kr'"
            >
              {{ drug.kr.summary }}
            </div>
          </div>
          <div *ngIf="!!drug.indicationSummarySpmed">
            <h2 class="sub-title">Indication</h2>
            <div
              class="sub-content"
              *ngIf="this.languageService.currentLanguage == 'en'"
            >
              {{ drug.indicationSummarySpmed }}
            </div>
            <div
              class="sub-content"
              *ngIf="this.languageService.currentLanguage == 'kr'"
            >
              {{ drug.kr.indicationSummarySpmed }}
            </div>
          </div>
          <div *ngIf="!!drug.toxicitySummarySpmed">
            <h2 class="sub-title">Toxicity</h2>
            <div
              class="sub-content"
              *ngIf="this.languageService.currentLanguage == 'en'"
            >
              {{ drug.toxicitySummarySpmed }}
            </div>
            <div
              class="sub-content"
              *ngIf="this.languageService.currentLanguage == 'kr'"
            >
              {{ drug.kr.toxicitySummarySpmed }}
            </div>
          </div>
        </div>

        <div class="default-margin">
          <h2>Related genes</h2>
          <div
            fxLayout="row wrap"
            fxLayout.lt-sm="column"
            fxLayoutAlign="start left"
          >
            <div class="brand" *ngFor="let gene of drug.genes">
              <a
                class="white"
                [routerLink]="['/pdss/gene', gene.id, 'detail']"
                >{{ gene.symbol }}</a
              >
            </div>
          </div>
        </div>

        <div class="default-margin">
          <h2>Synonyms Information</h2>
          <div class="content">
            <ul>
              <li *ngFor="let synonym of drugSynonyms">
                <span *ngIf="synonym.type !== 'Generic_Name'">{{
                  synonym.synonyms
                }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="default-margin">
          <h2>External Information</h2>
          <table class="ex-link">
            <tr *ngIf="drug.idPharmgkb">
              <td class="w100" style="width: 100px">PharmGKB</td>
              <td class="link">
                <a
                  href="https://www.pharmgkb.org/chemical/{{ drug.idPharmgkb }}"
                  target="_blank"
                >
                  {{ drug.idPharmgkb }}
                </a>
              </td>
            </tr>
            <tr *ngIf="drug.idDrugbank">
              <td class="w100" style="width: 100px">Drugbank</td>
              <td class="link">
                <a
                  href="https://go.drugbank.com/drugs/{{ drug.idDrugbank }}"
                  target="_blank"
                  >{{ drug.idDrugbank }}</a
                >
              </td>
            </tr>
            <tr *ngIf="drug.pubchemCompoundIdentifier">
              <td class="w100">PubChem</td>
              <td class="link">
                <a
                  href="https:  //pubchem.ncbi.nlm.nih.gov/compound/{{
                    drug.pubchemCompoundIdentifier
                  }}"
                  target="_blank"
                  >{{ drug.pubchemCompoundIdentifier }}</a
                >
              </td>
            </tr>
            <tr *ngIf="drug.rxnormIdentifier">
              <td class="w100">RxNorm</td>
              <td>{{ drug.rxnormIdentifier }}</td>
            </tr>
            <tr>
              <td class="w100">External Vocabulary</td>
              <td>
                <div *ngFor="let item of exVoca; index as i">{{ item }}</div>
              </td>
            </tr>
          </table>
        </div>
        <!--
        <div class="default-margin">
          <h3>Reference</h3>
          <div class="contents">
            <ol>
              <li>
                Kis B, Snipes JA, Busija DW: Acetaminophen and the
                cyclooxygenase-3 puzzle: sorting out facts, fictions, and
                uncertainties. J Pharmacol Exp Ther.
                <span class="bold">[Article]</span>
              </li>
              <li>
                Kis B, Snipes JA,Busija DW: Acetaminophen and the
                cyclooxygenase-3 puzzle: sorting out facts, fictions, and
                uncertainties. J Pharmacol Exp Ther. 2005 Oct;315(1):1-7. Epub
                2005 May 6.
                <span class="bold">[Article]</span>
              </li>
              <li>
                Aronoff DM, Oates JA, Boutaud O: New insights into the mechanism
                of action of acetaminophen: Its clinical pharmacologic
                characteristics reflect its inhibition of the two prostaglandin
                H2 synthases. Clin Pharmacol Ther. 2006 Jan;79(1):9-19.
                <span class="bold">[Article]</span>
              </li>
            </ol>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
