<div id="medical-history">
  <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 translate>
      USER__USER_PROFILES__MEDICAL_HISTORY__TITLES__MEDICAL_HISTORY
    </h2>

    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menuEdit"
        *ngIf="medicalHistoryList && medicalHistoryList.length > 0"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>

      <button
        mat-button
        class="add-button"
        *ngIf="
          mode$.value === 'VIEW' &&
          (!medicalHistoryList || medicalHistoryList.length === 0)
        "
        (click)="changeMode('ADD')"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY__BUTTONS__ADD
        </span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <!-- view -->
    <app-medical-history-list
      *ngIf="mode$.value !== 'ADD'"
      [mode$]="mode$"
      [showLess$]="showLess$"
      [medicalHistoryList$]="medicalHistoryList$"
      (showLessEvent)="showLessEvent($event)"
      (updateEvent)="updateItem($event)"
      (deleteEvent)="deleteItem($event)"
      (cancelEvent)="changeMode('VIEW')"
    ></app-medical-history-list>

    <!-- list view -->
    <app-medical-history-form
      *ngIf="mode$.value === 'ADD'"
      (cancelEvent)="changeMode('VIEW')"
      (createEvent)="create($event)"
    ></app-medical-history-form>
  </div>
</div>

<mat-menu #menuEdit="matMenu">
  <button mat-menu-item (click)="changeMode('ADD')">
    <span translate> USER__USER_PROFILES__MEDICAL_HISTORY__BUTTONS__ADD </span>
  </button>
  <button mat-menu-item (click)="changeMode('EDIT')">
    <span translate> USER__USER_PROFILES__MEDICAL_HISTORY__BUTTONS__EDIT </span>
  </button>
</mat-menu>
