<div id="medical-history">
  <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 translate>
      USER__USER_PROFILES__MEDICAL_HISTORY__TITLES__MEDICAL_HISTORY
    </h2>

    <div>
      <button
        mat-icon-button
        (click)="changeMode('VIEW')"
        *ngIf="medicalHistoryList && medicalHistoryList.length > 0"
      >
        <mat-icon>grid_view</mat-icon>
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menuEdit"
        *ngIf="medicalHistoryList && medicalHistoryList.length > 0"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>

      <button
        mat-button
        class="add-button"
        *ngIf="
          mode === MedicalHistoryMode.VIEW &&
          (!medicalHistoryList || medicalHistoryList.length === 0)
        "
        (click)="changeMode(MedicalHistoryMode.ADD)"
      >
        <span translate>
          USER__USER_PROFILES__MEDICAL_HISTORY__BUTTONS__ADD
        </span>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content">
    <!-- view -->
    <app-medical-history-list
      [medicalHistoryList$]="medicalHistoryList$"
      *ngIf="mode === MedicalHistoryMode.VIEW"
    ></app-medical-history-list>

    <!-- add -->
    <app-medical-history-add
      *ngIf="mode === MedicalHistoryMode.ADD"
      (cancelEvent)="changeMode(MedicalHistoryMode.VIEW)"
      (createEvent)="create($event)"
    ></app-medical-history-add>

    <!-- edit -->
    <app-medical-history-list-edit
      *ngIf="mode === MedicalHistoryMode.EDIT"
      [medicalHistoryList$]="medicalHistoryList$"
      (cancelEvent)="
        changeMode(MedicalHistoryMode.VIEW) && reloadMedicalHistoryList()
      "
    >
    </app-medical-history-list-edit>
  </div>
</div>

<mat-menu #menuEdit="matMenu">
  <button mat-menu-item (click)="changeMode(MedicalHistoryMode.ADD)">
    <span translate> USER__USER_PROFILES__MEDICAL_HISTORY__BUTTONS__ADD </span>
  </button>
  <button mat-menu-item (click)="changeMode(MedicalHistoryMode.EDIT)">
    <span translate> USER__USER_PROFILES__MEDICAL_HISTORY__BUTTONS__EDIT </span>
  </button>
</mat-menu>
