.my-report {
  // background-color: #f2f2f2;
  max-width: 1280px;
  margin: auto;
  padding: 16px;

  .statistic {
    .card {
      background-color: #f2f2f2;
      margin-left: 16px;
      padding: 16px;
      border-radius: 1px;
      font-size: 16px;
    }

    .card:first-child {
      margin-left: 0;
    }

    .card-total-drug {
      background-color: var(--primary-b--color);
      color: white;
    }

    .card-total-gene {
      background-color: var(--primary-a--color);
      color: white;
    }

    margin-bottom: 16px;
  }

  .box {
    padding: 8px;
    border-radius: 1px;
    width: 60px;
    height: 20px;
    font-weight: 500;
  }
  .box-mobile {
    flex: 1;
  }
  .danger {
    background-color: var(--pdss--risk-level--danger--color);
    color: white;
  }

  .warning {
    background-color: var(--pdss--risk-level--warning--color);
  }

  .caution {
    background-color: var(--pdss--risk-level--caution--color);
  }

  .good {
    background-color: var(--pdss--risk-level--good--color);
  }
}
