<div class="news-detail-container">
  <div class="news-detail">
    <div class="news-wrapper">
      <ng-container
        *ngIf="
          newsDetailLoading;
          then newsDetailLoadingTemplate;
          else newsDetailTemplate
        "
      ></ng-container>
    </div>
    <div class="top-news-list-wrapper">
      <app-top-news-list
        [ignoreNewsIdList]="[newsDetail?.id]"
      ></app-top-news-list>
    </div>
  </div>
</div>

<ng-template #newsDetailTemplate>
  <ng-container
    *ngIf="
      newsDetail && newsDetail.title;
      else newsDetailNotSupportLanguageTemplate
    "
  >
    <div>
      <div>
        <h2>{{ newsDetail?.title }}</h2>
        <div class="metadata">
          <div>
            <span>
              {{ "NEWS__NEWS_DETAIL__STRINGS__PUBLISH_AT" | translate }}
              {{ newsDetail.publishTime }}</span
            >
            <span>
              {{ "NEWS__NEWS_DETAIL__STRINGS__BY" | translate }}
              {{ newsDetail.author }}</span
            >
          </div>
          <div>
            <span>
              {{ "NEWS__NEWS_DETAIL__STRINGS__TOTAL_READ" | translate }}
              {{ newsDetail.readCount }}
            </span>
          </div>
        </div>
      </div>
      <div
        [innerHtml]="newsDetail.content | safeHtml"
        class="news-content"
      ></div>
    </div>
  </ng-container>
</ng-template>

<ng-template #newsDetailNotSupportLanguageTemplate>
  <div class="not-found-container">
    <img
      src="https://image.freepik.com/free-vector/empty-concept-illustration_114360-1253.jpg"
      alt="Not found"
    />
    <h4>
      {{ "NEWS__NEWS_DETAIL__STRINGS__NOT_FOUND_CONTENT" | translate }}
    </h4>
  </div>
</ng-template>

<ng-template #newsDetailLoadingTemplate>
  <div class="loading-container">
    <app-spinner></app-spinner>
  </div>
</ng-template>

<app-scroll-up-button></app-scroll-up-button>
