<div id="page">
  <div id="browser-page">
    <div class="section">
      <div id="browser-info">
        <div class="title" fxLayout="column" fxLayoutAlign="space-between left">
          <!-- SEARCH FORM START-->
          <form class="spmed-form" [formGroup]="searchForm">
            <!-- <h1 class="bold">
              {{ "PDSS__BROWSER__TITLES__DRUG_GENE_BROWSER" | translate }}
            </h1> -->
            <!-- <p>
              {{
                "PDSS__BROWSER__STRINGS__SOME_RESULT_MAY_BE_THE_THINGS_YOU_ARE_LOOKING_FOR"
                  | translate
              }}
            </p> -->
            <mat-form-field class="full-width" appearance="outline">
              <input
                type="text"
                formControlName="keyword"
                name="keyword"
                matInput
                [placeholder]="'PDSS__BROWSER__SEARCH_COMMENT' | translate"
                (keydown.enter)="syncQueryParams()"
              />
              <div matSuffix fxLayout="row">
                <button
                  type="button"
                  matSuffix
                  mat-icon-button
                  (click)="syncQueryParams()"
                >
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </mat-form-field>
          </form>
          <!-- SEARCH FORM END -->

          <!-- INIT MODE START -->
          <div
            fxLayout="row"
            fxLayoutGap="20px"
            fxLayout.xs="column"
            [fxHide]="isSearch"
          >
            <div fxFlex="50">
              <h3>
                {{ "PDSS__BROWSER__TITLES__DRUGS" | translate }}
              </h3>
              <mat-selection-list #drugs [multiple]="false">
                <mat-list-option
                  *ngFor="let drug of listOfDrugs"
                  [value]="drug"
                >
                  <a [routerLink]="['/pdss/drug', drug.id, 'detail']">{{
                    drug.name | titlecase
                  }}</a>
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div fxFlex="50">
              <h3>
                {{ "PDSS__BROWSER__TITLES__GENES" | translate }}
              </h3>
              <mat-selection-list #genes [multiple]="false">
                <mat-list-option
                  *ngFor="let gene of listOfGenes"
                  [value]="gene"
                >
                  <a [routerLink]="['/pdss/gene', gene.id, 'detail']">{{
                    gene.symbol
                  }}</a>
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
          <!-- INIT MODE END -->

          <!-- SEARCH RESULT START -->
          <div
            fxLayout="row"
            fxLayoutGap="20px"
            fxLayout.xs="column"
            [fxHide]="!isSearch"
          >
            <!-- FILTER START -->
            <div class="filter-form-wrapper" fxHide.lt-md fxShow.gt-sm>
              <!-- <h2>{{ "PDSS__BROWSER__TITLES__FILTERS" | translate }}</h2> -->
              <h3>
                {{ "PDSS__BROWSER__TITLES__FILTERS" | translate }}
              </h3>
              <form class="spmed-form filter-form" [formGroup]="filterForm">
                <mat-checkbox
                  formControlName="isDrug"
                  name="isDrug"
                  (change)="onChange($event)"
                >
                  {{ "PDSS__BROWSER__CHECKBOX__DRUGS" | translate }}
                  ({{ finalCount || 0 }})
                </mat-checkbox>

                <mat-checkbox
                  formControlName="isGene"
                  name="isGene"
                  (change)="onChange($event)"
                >
                  {{ "PDSS__BROWSER__CHECKBOX__GENES" | translate }}
                  ({{ geneCount || 0 }})
                </mat-checkbox>
                <span></span>
              </form>
            </div>
            <!-- FILTER END -->

            <!-- RESULT START -->
            <div class="result-list-container">
              <div class="result-list-header">
                <div class="search-result-title">
                  {{ "PDSS__BROWSER__TITLES__RESULTS" | translate }}:
                  <strong>
                    {{ searchKeyword || "" }}
                  </strong>
                  ({{ searchTotal || 0 }})
                </div>
              </div>

              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                  <mat-header-cell mat-header-cell *matHeaderCellDef>
                    {{
                      "PDSS__BROWSER__RESULT_TABLE_HEADERS__NAME" | translate
                    }}
                  </mat-header-cell>

                  <mat-cell
                    *matCellDef="let result"
                    style="vertical-align: middle"
                  >
                    <a
                      *ngIf="result.type != 'gene'"
                      [routerLink]="['/pdss/drug', result.id, 'detail']"
                      ><span
                        [innerHTML]="
                          result.name | highlightSearch: searchKeyword
                        "
                      ></span>
                    </a>
                    <a
                      *ngIf="result.type === 'gene'"
                      [routerLink]="['/pdss/gene', result.id, 'detail']"
                      ><span
                        [innerHTML]="
                          result.name | highlightSearch: searchKeyword
                        "
                      ></span>
                    </a>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell mat-header-cell *matHeaderCellDef>
                    {{
                      "PDSS__BROWSER__RESULT_TABLE_HEADERS__TYPE" | translate
                    }}</mat-header-cell
                  >
                  <mat-cell *matCellDef="let result">
                    <span
                      *ngIf="
                        result.type == 'Brand' || result.type == 'Generic_Name'
                      "
                    >
                      <span class="brand">
                        {{
                          "PDSS__BROWSER__RESULT_TABLE_TYPES__DRUG" | translate
                        }}
                      </span>
                    </span>
                    <span *ngIf="result.type == 'gene'">
                      <span class="gene">
                        {{
                          "PDSS__BROWSER__RESULT_TABLE_TYPES__GENE" | translate
                        }}
                      </span>
                    </span>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  matRipple
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </table>
              <mat-paginator
                showFirstLastButtons="true"
                [length]="searchTotal"
                [pageSize]="pageSize"
                (page)="change($event)"
              ></mat-paginator>
            </div>
            <!-- RESULT END -->
          </div>
          <!-- SEARCH RESULT END -->
        </div>
      </div>
    </div>
  </div>
</div>
