<div id="page">
  <div id="browser-page">
    <div class="section">
      <div id="browser-info">
        <div class="title" fxLayout="column" fxLayoutAlign="space-between left">
          <form class="search-form" [formGroup]="searchForm">
            <h1 class="bold">
              {{ "PDSS__BROWSER__TITLES__DRUG_GENE_BROWSER" | translate }}
            </h1>
            <p>
              {{
                "PDSS__BROWSER__STRINGS__SOME_RESULT_MAY_BE_THE_THINGS_YOU_ARE_LOOKING_FOR"
                  | translate
              }}
            </p>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>
                {{ "PDSS__BROWSER__SEARCH_COMMENT" | translate }}
              </mat-label>
              <input
                type="text"
                formControlName="keyword"
                name="keyword"
                matInput
                (keydown.enter)="search()"
              />
              <button
                type="button"
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Autofill"
                (click)="search()"
              >
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </form>

          <div
            fxLayout="row"
            fxLayoutGap="20px"
            fxLayout.xs="column"
            [fxHide]="isSearch"
          >
            <div fxFlex="50">
              <h3>
                {{ "PDSS__BROWSER__TITLES__DRUGS" | translate }}
              </h3>
              <mat-selection-list #drugs [multiple]="false">
                <mat-list-option
                  *ngFor="let drug of listOfDrugs"
                  [value]="drug"
                >
                  <a [routerLink]="['/pdss/drug', drug.id, 'detail']">{{
                    drug.name | titlecase
                  }}</a>
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div fxFlex="50">
              <h3>
                {{ "PDSS__BROWSER__TITLES__GENES" | translate }}
              </h3>
              <mat-selection-list #genes [multiple]="false">
                <mat-list-option
                  *ngFor="let gene of listOfGenes"
                  [value]="gene"
                >
                  <a [routerLink]="['/pdss/gene', gene.id, 'detail']">{{
                    gene.symbol
                  }}</a>
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>

          <div
            fxLayout="row"
            fxLayoutGap="20px"
            fxLayout.xs="column"
            [fxHide]="!isSearch"
          >
            <div
              fxFlex="15"
              fxHide.lt-md
              fxShow.gt-sm
              style="border: 1px solid #ccc; padding: 10px; height: 200px"
            >
              <h2>{{ "PDSS__BROWSER__TITLES__FILTERS" | translate }}</h2>
              <h3 style="margin: 0; padding: 0; font-weight: 500">
                {{ "PDSS__BROWSER__TITLES__CATEGORIES" | translate }}
              </h3>
              <form class="search-form" [formGroup]="filterForm">
                <!--
        <mat-checkbox
          formControlName="isBrand"
          name="isBrand"
          (change)="onChange($event)"
          >Brands</mat-checkbox
        >
        ({{ brandCount }})<br />
        -->
                <mat-checkbox
                  formControlName="isDrug"
                  name="isDrug"
                  (change)="onChange($event)"
                  >{{ "PDSS__BROWSER__CHECKBOX__DRUGS" | translate }}
                </mat-checkbox>
                <span *ngIf="finalCount > 0">({{ finalCount }})</span>
                <span *ngIf="!finalCount">({{ 0 }})</span>

                <mat-checkbox
                  formControlName="isGene"
                  name="isGene"
                  (change)="onChange($event)"
                  >{{
                    "PDSS__BROWSER__CHECKBOX__GENES" | translate
                  }}</mat-checkbox
                >
                <span *ngIf="geneCount > 0">({{ geneCount }})</span>
                <span *ngIf="!geneCount">({{ 0 }})</span>
              </form>
            </div>

            <div fxFlex="85">
              <h2>
                {{ "PDSS__BROWSER__TITLES__RESULTS" | translate }} ({{
                  searchTotal || 0
                }})
              </h2>
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                  <mat-header-cell mat-header-cell *matHeaderCellDef>
                    {{
                      "PDSS__BROWSER__RESULT_TABLE_HEADERS__NAME" | translate
                    }}
                  </mat-header-cell>

                  <mat-cell
                    *matCellDef="let result"
                    style="vertical-align: middle"
                  >
                    <a
                      *ngIf="result.type != 'gene'"
                      [routerLink]="['/pdss/drug', result.id, 'detail']"
                      ><span
                        [innerHTML]="
                          result.name | highlightSearch: searchKeyword
                        "
                      ></span>
                    </a>
                    <a
                      *ngIf="result.type === 'gene'"
                      [routerLink]="['/pdss/gene', result.id, 'detail']"
                      ><span
                        [innerHTML]="
                          result.name | highlightSearch: searchKeyword
                        "
                      ></span>
                    </a>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell mat-header-cell *matHeaderCellDef>
                    {{
                      "PDSS__BROWSER__RESULT_TABLE_HEADERS__TYPE" | translate
                    }}</mat-header-cell
                  >
                  <mat-cell *matCellDef="let result">
                    <span
                      *ngIf="
                        result.type == 'Brand' || result.type == 'Generic_Name'
                      "
                    >
                      <span class="brand">
                        {{
                          "PDSS__BROWSER__RESULT_TABLE_TYPES__DRUG" | translate
                        }}
                      </span>
                    </span>
                    <span *ngIf="result.type == 'gene'">
                      <span class="gene">
                        {{
                          "PDSS__BROWSER__RESULT_TABLE_TYPES__GENE" | translate
                        }}
                      </span>
                    </span>
                  </mat-cell>
                </ng-container>
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  matRipple
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </table>
              <mat-paginator
                showFirstLastButtons="true"
                [length]="searchTotal"
                [pageSize]="pageSize"
                (page)="change($event)"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
