<!-- hero banner -->
<section id="banner-wrapper">
  <div class="banner">
    <h1 animateAfterAppear="fadeInDown">
      {{ "HOME__SECTION_HERO_BANNER__HEADING" | translate }}
    </h1>
    <h2 animateAfterAppear="fadeInDown">
      {{ "HOME__SECTION_HERO_BANNER__SUB_HEADING" | translate }}
    </h2>
    <div class="actions">
      <button
        mat-button
        class="our-service-button spmed-button"
        animateAfterAppear="fadeInRight"
        (click)="handleOnClickOurServices()"
      >
        {{ "HOME__SECTION_HERO_BANNER__BUTTONS__OUR_SERVICES" | translate }}
      </button>
    </div>
  </div>
</section>
