<div class="overview">
  <app-overview-section-what-is></app-overview-section-what-is>
  <app-overview-section-why></app-overview-section-why>
  <app-overview-section-when></app-overview-section-when>
  <app-overview-section-procedure></app-overview-section-procedure>
  <app-overview-section-services></app-overview-section-services>
  <div class="section-wrapper section-services-table-wrapper">
    <div class="section">
      <h2 class="spmed-h2-with-icon">
        <mat-icon>label_important</mat-icon>
        {{ "ADME__OVERVIEW__TITLES__SERVICES" | translate }}
      </h2>
      <app-adme-services-table></app-adme-services-table>
    </div>
  </div>
</div>
