<div id="utility-nav-menu">
  <!-- for website -->
  <div fxHide.lt-md class="website-wrapper">
    <button
      mat-button
      routerLink="atc-classification"
      routerLinkActive="router-link-active"
    >
      {{ "PDSS__UTILITY__NAV_MENU__ATC_CLASSIFICATION" | translate }}
    </button>
  </div>
  <!-- for mobile -->
  <div fxHide.gt-sm class="mobile-wrapper">
    <button
      mat-button
      routerLink="atc-classification"
      routerLinkActive="router-link-active"
    >
      {{ "PDSS__UTILITY__NAV_MENU__ATC_CLASSIFICATION" | translate }}
    </button>
  </div>
</div>
