#why-choose-us {
  background-color: #f2f2f2;
  padding: 60px 0;

  .container {
    max-width: 960px;
    margin: auto;
  }

  h2.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    color: var(--primary--color);
  }
  .reason-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .reason-item {
      align-self: flex-start;
      justify-self: center;

      max-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .reason-item-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
    }
    .reason-wrapper {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .reason-wrapper:hover {
      border-radius: 1%;
      -webkit-animation: boxhover 500ms forwards;
      -moz-animation: boxhover 500ms forwards;
      -o-animation: boxhover 500ms forwards;
      animation: boxhover 500ms forwards;
      cursor: pointer;
    }

    @keyframes boxhover {
      100% {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #why-choose-us {
    h2.title {
      margin-bottom: 30px;
    }

    .reason-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 16px;
      column-gap: 8px;
      .reason-item {
        width: auto;
        .reason-item-icon {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}
