/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

pre {
  text-align: left;
  white-space: pre-line;
  counter-increment: line;
}

:root {
  --pdss--risk-level--good--color: #00af50;
  --pdss--risk-level--caution--color: #ffc000;
  --pdss--risk-level--warning--color: #ed7d31;
  --pdss--risk-level--danger--color: #d93d31;

  --primary--color: #003f9e;
  --primary-a--color: rgb(8, 38, 82);
  --primary-a-800-color: rgba(8, 38, 82, 0.8);
  --primary-a-400-color: rgba(8, 38, 82, 0.4);
  --primary-b--color: rgb(158, 33, 16);
  --primary-b-800--color: rgba(158, 33, 16, 0.8);
  --primary-b-400--color: rgba(158, 33, 16, 0.4);

  --primary-c--color: rgb(9, 159, 171);
  --primary-c-800--color: rgb(9, 159, 171, 0.8);
  --primary-4-800--color: rgb(9, 159, 171, 0.4);

  --primary--screen: 1280px;
  --secondary--screen: 960px;
}

%primary-button {
  background-color: var(--primary--color);
  color: white;
  font-weight: 500;
}

%secondary-button {
  border-color: var(--primary--color);
  color: var(--primary--color);
}

.spmed-infinity-rotate {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.spmed-button {
  border: none;
  border-radius: 2px;
}

.spmed-h2-with-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--primary-a--color);
  mat-icon {
    margin-right: 2px;
    width: 32px;
    height: 32px;
    /* background: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.spmed-secondary-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 3px var(--primary--color);
  padding: 4px 8px;
  border-radius: 2px;
  text-align: center;
}

.spmed-secondary-button:hover {
  cursor: pointer;
}

.spmed-primary-button {
  font-weight: 500;
  background-color: var(--primary--color);
  color: white;
  border: none;
  border-radius: 2px !important;

  a {
    text-decoration: none;
  }
  a:link {
    color: white;
  }

  /* visited link */
  a:visited {
    color: white;
  }

  /* mouse over link */
  a:hover {
    color: white;
  }

  /* selected link */
  a:active {
    color: white;
  }
}

.remove-a-style {
  a {
    text-decoration: none;
  }
  a:link {
    color: black;
  }

  /* visited link */
  a:visited {
    color: black;
  }

  /* mouse over link */
  a:hover {
    color: black;
  }

  /* selected link */
  a:active {
    color: black;
  }
}

.spmed-shadow-lg {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.spmed-search-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0em;
    width: 100%;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0px !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px 0 16px 0;
  }
}

.spmed-form {
  .mat-form-field-outline-start {
    border-radius: 1px 0 0 1px !important;
    min-width: 1px !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 1px 1px 0 !important;
  }

  mat-label {
    font-weight: 500 !important;
    display: block;
  }

  .mat-form-field {
    width: 100%;
  }

  .spmed-form-field {
    width: 100%;
  }
}
.spmed-md-fab-bottom-right {
  position: fixed !important;
  right: 24px;
  bottom: 24px;
  background-color: var(--primary--color) !important;
}
.spmed-container {
  max-width: 960px;
  margin: auto;
}

.spmed-snackbar {
  background-color: white;
  color: black;
  // box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 1px !important;
  border-left: solid 5px var(--primary-a--color);
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
