/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

pre {
  text-align: left;
  white-space: pre-line;
  counter-increment: line;
}

:root {
  --pdss--risk-level--good--color: #00af50;
  --pdss--risk-level--caution--color: #ffc000;
  --pdss--risk-level--warning--color: #ed7d31;
  --pdss--risk-level--danger--color: #d93d31;

  --primary--color: #003f9e;
  --primary-a--color: rgb(8, 38, 82);
  --primary-a-800-color: rgba(8, 38, 82, 0.8);
  --primary-a-400-color: rgba(8, 38, 82, 0.4);
  --primary-b--color: rgb(158, 33, 16);
  --primary-b-800--color: rgba(158, 33, 16, 0.8);
  --primary-b-400--color: rgba(158, 33, 16, 0.4);

  --primary--screen: 1280px;
  --secondary--screen: 960px;
}

%primary-button {
  background-color: var(--primary--color);
  color: white;
  font-weight: 500;
}

%secondary-button {
  border-color: var(--primary--color);
  color: var(--primary--color);
}
