$bannerImage: url("/assets/images/hero-banner.jpg");

#mainContainer {
  background: #ffffff;
  .hidden {
    // display: none !important;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  .banner-wrapper {
    width: 100%;
    height: 800px;
    // background: #f2f2f2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: $bannerImage;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .banner {
    padding: 0 20px;
    width: 100%;
    max-width: var(--primary--screen);
  }
  .banner-text {
    color: #fff;
    padding: 0px 30px;
  }
  .margin0 {
    margin: 0px;
  }

  .our-service-button {
    background-color: var(--primary--color);
    color: white;
    border-radius: 1px;
  }

  #about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    #about-us-image {
      object-fit: cover;
      max-width: 400px;
      width: 100%;
      height: 100%;
    }

    #about-us-content {
      max-width: 400px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  section {
    padding: 60px 0;
  }

  .session {
    .session-left {
      -ms-flex: 1; /* IE 10 */
      flex: 1;
      // background-color: blue;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 50px;
    }
    .session-right {
      -ms-flex: 1; /* IE 10 */
      flex: 1;
      // background-color: red;
      padding-left: 50px;

      p {
        max-width: 600px;
      }
    }
  }

  #why-choose-us {
    background-color: #f2f2f2;
    padding-left: 60px;
    padding-right: 60px;
    .reason-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .reason-item {
        align-self: center;
        justify-self: center;

        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .reason-item-icon {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  #our-services {
    .service-image {
      max-width: 400px;
      width: 100%;
      height: auto;
    }
    #service-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 50px;
      .service-item {
        align-self: center;
        justify-self: center;
        .service-item-content {
          max-width: 400px;
          margin-bottom: 50px;
        }

        .service-item-content {
          padding: 10px;
          .detail-link {
            color: var(--primary--color);
            font-weight: 500;
            font-size: 18px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          .detail-link:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  #contact-us-wrapper {
    background-color: var(--primary-a--color);
    #contact-us {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 20px;
      .contact-info {
        color: white !important;
        padding: 20px;
        .contact-info-item {
          margin-top: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          max-width: 400px;
          mat-icon {
            margin-right: 16px;
          }
        }
      }
      .contact-form {
        padding: 20px;
        background-color: white;
        border-radius: 1px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #mainContainer {
    .banner-wrapper {
      height: 600px;
    }
    #why-choose-us {
      padding-left: 0px;
      padding-right: 0px;
      .reason-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        .reason-item {
          width: auto;
          .reason-item-icon {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #mainContainer {
    .banner-wrapper {
      height: 300px;
    }
    #about-us {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      #about-us-content {
        margin: auto;
      }
    }

    .session {
      flex-direction: column;
    }

    #our-services {
      #service-list {
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0px;
        .service-item {
          padding: 10px;
        }
      }
    }

    #contact-us-wrapper {
      #contact-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .contact-info {
          padding-top: 0px;
        }
      }
    }
  }
}
