<div id="home">
  <!-- hero-banner -->
  <app-home-section-hero-banner
    (onClickOurServices)="scrollToOurServices()"
  ></app-home-section-hero-banner>

  <!-- about-us -->
  <app-home-section-about-us></app-home-section-about-us>

  <!-- why choose us -->
  <div>
    <app-home-section-why-choose-us></app-home-section-why-choose-us>
  </div>

  <!-- our services -->
  <div id="our-services">
    <app-home-section-our-services></app-home-section-our-services>
  </div>

  <!-- contact-us -->
  <app-home-section-contact-us></app-home-section-contact-us>
</div>
