#reset-password-page {
  width: 100%;
  border: solid 1px #d8d8d8;

  ::ng-deep .mat-form-field-outline-start {
    border-radius: 0 !important;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 !important;
  }

  h2 {
    padding: 16px 20px;
    margin-bottom: 0;
  }

  h3 {
    font-weight: 500;
  }

  .section {
    padding: 20px;
  }

  .mat-form-field {
    width: 100%;
    font-size: 14px;
  }

  mat-label {
    font-weight: 500;
    margin-bottom: 16px;
  }

  .submit-btn {
    background-color: var(--primary--color);
    color: white;
  }

  .required {
    color: red;
  }
}
