<div id="reset-password-page">
  <h2>Password</h2>
  <mat-divider></mat-divider>
  <div class="section">
    <h3>Reset Password</h3>

    <form [formGroup]="resetPasswordForm" *ngIf="resetPasswordForm">
      <mat-label>Current Password <span class="required">*</span></mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          placeholder="Current password"
          name="currentPassword"
          formControlName="currentPassword"
        />

        <mat-error
          *ngIf="
            f.currentPassword?.touched && f.currentPassword?.errors?.required
          "
        >
          You need to type current password
        </mat-error>
      </mat-form-field>

      <mat-label>New Password <span class="required">*</span></mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          name="newPassword"
          placeholder="New password"
          formControlName="newPassword"
        />
        <mat-error
          *ngIf="f.newPassword?.touched && f.newPassword?.errors?.required"
        >
          You need to type new password
        </mat-error>
        <mat-error
          *ngIf="f.newPassword?.touched && f.newPassword?.errors?.mustNotMatch"
        >
          Your new password need differ from your current password
        </mat-error>
      </mat-form-field>

      <mat-label>Re - New Password <span class="required">*</span></mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          name="reNewPassword"
          placeholder="Re new password"
          formControlName="reNewPassword"
        />
        <mat-error
          *ngIf="f.reNewPassword?.touched && f.reNewPassword?.errors?.required"
        >
          You need to type re-new password
        </mat-error>

        <mat-error
          *ngIf="f.reNewPassword?.touched && f.reNewPassword?.errors?.mustMatch"
        >
          Your re-new password must match with new password
        </mat-error>
      </mat-form-field>

      <button
        mat-button
        class="submit-btn"
        (click)="submit(); $event.preventDefault()"
      >
        Submit
      </button>
    </form>
  </div>
</div>
