.feature-and-benefit-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f2f2f2;

  .feature-and-benefit {
    padding: 0 20px;
    max-width: var(--primary--screen);
    margin: auto;
  }

  .content-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content-list-item {
    padding: 20px;
    width: calc(100% - 40px);
    border: solid 2px var(--primary-a--color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 100%;
      border: solid 2px var(--primary-a--color);
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .feature-and-benefit-wrapper {
    .content-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 600px) {
  .feature-and-benefit-wrapper {
    .content-list {
      grid-template-columns: 1fr;
    }
  }
}
