.basic-information-form {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  ::ng-deep .mat-form-field-outline-start {
    border-radius: 3px 0 0 3px !important;
    min-width: 3px !important;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 3px 3px 0 !important;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .mat-form-field {
      width: 100%;
    }
    mat-label {
      font-weight: 500;
    }
    .mat-form-field-suffix {
      display: inline-flex;
      align-items: center;
    }
    .required {
      color: red;
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button-create {
      color: white;
      background-color: var(--primary--color);
    }

    .button-cancel {
      margin-right: 16px;
    }
  }
}
