<div class="history-container">
  <div class="history-wrapper">
    <h2>History</h2>
    <div class="timeline-container">
      <div class="timeline-wrapper">
        <ul class="history-list">
          <li *ngFor="let history of timeline" class="history-list-item">
            <div class="content">
              <span class="time">
                {{ history.year }} - {{ history.month }}
              </span>
              <span class="time-underline"> </span>
              <p class="event" *ngFor="let event of history.events">
                • {{ event }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
