<div class="history-container">
  <div class="history-wrapper">
    <h2>History</h2>
    <div class="timeline-container">
      <div class="timeline-wrapper">
        <ul class="event-list">
          <li *ngFor="let event of timeline" class="event-list-item">
            <div class="content">
              <span class="time">
                {{ event.year }} {{ event.month }} {{ event.day }}
              </span>
              <p class="achieve">
                {{ event.achieve }}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
