<div>
  <h2>Certificates</h2>
  <div
    fxLayout="row wrap"
    fxLayoutGap="40px"
    fxLayoutAlign="flex-start"
    class="box-list"
  >
    <div
      fxFlex="0 1 calc(20% - 40px)"
      fxFlex.lt-md="0 1 calc(25% - 40px)"
      fxFlex.lt-sm="0 1 calc(33.33% - 40px)"
      class="box"
      *ngFor="let certificate of certificateList"
      (click)="openOverlayImage(certificate)"
    >
      <img [src]="certificate.url" [alt]="certificate.title" />

      <div class="title">{{ certificate.title }}</div>
    </div>
  </div>
</div>

<div
  class="overlay"
  [fxHide]="!isShowImageOverlay"
  (click)="closeOverlayImage()"
>
  <div class="overlay-content">
    <img [src]="selectedCertificate?.url" [alt]="selectedCertificate?.title" />
  </div>
</div>
