<div class="certificate-container">
  <div class="certificate-wrapper">
    <h2>Certificates</h2>
    <div class="certificate-list">
      <div
        class="certificate-list-item"
        *ngFor="let certificate of certificateList"
        (click)="openOverlayImage(certificate)"
      >
        <img [src]="certificate.url" [alt]="certificate.title" />

        <div class="title">{{ certificate.title }}</div>
      </div>
    </div>
  </div>
</div>

<div
  class="overlay"
  [fxHide]="!isShowImageOverlay"
  (click)="closeOverlayImage()"
>
  <div class="overlay-content">
    <img [src]="selectedCertificate?.url" [alt]="selectedCertificate?.title" />
  </div>
</div>
