<div id="overview">
  <!-- what is genotyping kit -->
  <!-- <app-overview-section-what-is></app-overview-section-what-is> -->

  <!-- why choose genotyping kit -->
  <!-- <app-overview-section-why-choose></app-overview-section-why-choose> -->

  <!-- when to use -->
  <app-overview-section-when-to-use></app-overview-section-when-to-use>

  <!-- where to use -->
  <!-- <app-overview-section-where-to-use></app-overview-section-where-to-use> -->

  <!-- procedure -->
  <!-- <app-overview-section-procedure></app-overview-section-procedure> -->
</div>
