<div id="pdss-overview">
  <section id="introduction-wrapper" class="hidden">
    <div id="introduction" class="container">
      <h2>What is Pharmacogenomic Test?</h2>
      <p>
        Personalized service for checking the genes associated with the
        mechanism of the action of the drug in question as a means to increase
        its effectiveness and prevent potential side effects, thereby ensuring
        that the prescription is suitable for the individual concerned.
      </p>
      <div class="introduction-video">
        <iframe
          width="100%"
          height="100%"
          src="http://spmed.kr/kr/video/spmed_01_ko.mp4"
          title="PDSS Introduction"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>

  <section id="why-need-wrapper" class="hidden">
    <div id="why-need" class="container">
      <h2>Why need?</h2>
      <p>
        Personalized service for checking the genes associated with the
        mechanism of the action of the drug in question as a means to increase
        its effectiveness and prevent potential side effects, thereby ensuring
        that the prescription is suitable for the individual concerned.
      </p>

      <div class="reason-list">
        <div class="reason-item">
          <img
            src="https://image.freepik.com/free-vector/drug-allergy-abstract-concept-vector-illustration-triggers-drug-allergies-risk-factors-medicine-side-effect-remedy-intolerance-test-allergic-disease-symptom-treatment-abstract-metaphor_335657-1556.jpg"
            class="image"
          />
          <div class="content">
            <h3>Side Effect</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
              quisquam inventore reiciendis numquam a exercitationem aspernatur
              nihil, possimus iusto odio facilis quasi consequuntur architecto
              iure aperiam dolore, rem accusamus provident.
            </p>
          </div>
        </div>
        <div class="reason-item">
          <img
            src="https://image.freepik.com/free-vector/healthy-people-carrying-different-icons_53876-43069.jpg"
            class="image"
          />
          <div class="content">
            <h3>Side effect</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
              quisquam inventore reiciendis numquam a exercitationem aspernatur
              nihil, possimus iusto odio facilis quasi consequuntur architecto
              iure aperiam dolore, rem accusamus provident.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="who-need-wrapper" class="hidden">
    <div id="who-need" class="container">
      <h2>Who need?</h2>
      <div class="reason-list">
        <div class="reason-item" *ngFor="let i of [1, 2, 3, 4]">
          <img
            src="https://image.freepik.com/free-vector/faceless-happy-woman-walking-with-dog-park_74855-7312.jpg"
            class="image"
          />
          <div class="content">
            <h3>People</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-section-pdss-common-progress></app-section-pdss-common-progress>

  <section id="what-should-you-choose-wrapper" class="hidden">
    <div id="what-should-you-choose" class="container">
      <h2>What should you choose?</h2>
      <div class="item-list">
        <div class="item choose">
          <h3>PGx-NP</h3>
          <p>This is purpose: orem ipsum dolor sit amet consectetur</p>
          <mat-divider></mat-divider>
          <div class="product-feature-list">
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>121 drugs
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>20 genes
            </div>

            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Digital Report
            </div>
          </div>
          <div class="space"></div>

          <div class="actions">
            <div>Detail</div>
            <div>Find Hospital</div>
          </div>
        </div>

        <div class="item">
          <h3>Premium</h3>
          <p>This is purpose: orem ipsum dolor sit amet consectetur</p>
          <mat-divider></mat-divider>
          <div class="product-feature-list">
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>121 drugs
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>20 genes
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>123 disease
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Take 23 days
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Digital Report
            </div>
          </div>
          <div class="space"></div>
          <div class="actions">
            <div>Detail</div>
            <div>Find Hospital</div>
          </div>
        </div>
        <div class="item">
          <h3>Single</h3>
          <p>This is purpose: orem ipsum dolor sit amet consectetur</p>
          <mat-divider></mat-divider>
          <div class="product-feature-list">
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>121 drugs
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>20 genes
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>123 disease
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Take 23 days
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Digital Report
            </div>
          </div>
          <div class="space"></div>
          <div class="actions">
            <div>Detail</div>
            <div>Find Hospital</div>
          </div>
        </div>
        <div class="item">
          <h3>Custom</h3>
          <p>This is purpose: orem ipsum dolor sit amet consectetur</p>
          <mat-divider></mat-divider>
          <div class="product-feature-list">
            <div class="product-feature-item">
              <mat-icon>done</mat-icon> 121 drugs
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>20 genes
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>123 disease
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Take 23 days
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Digital Report
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Digital Report
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Other benefit
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Other benefit
            </div>
            <div class="product-feature-item">
              <mat-icon>done</mat-icon>Digital Report
            </div>
          </div>
          <div class="space"></div>
          <div class="actions">
            <div>Detail</div>
            <div>Find Hospital</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
