<section id="our-services-wrapper">
  <div class="our-services container">
    <h2 class="title">
      {{ "HOME__SECTION_OUR_SERVICE__OUR_SERVICE" | translate }}
    </h2>
    <div class="service-list-wrapper">
      <div
        class="service-item"
        *ngFor="
          let service of servicesList;
          let i = index;
          let last = last;
          let odd = odd;
          let even = even
        "
      >
        <div class="service-image" *ngIf="even">
          <img [src]="service.imageUrl" [alt]="service.title + 'image'" />
        </div>

        <div class="service-image" *ngIf="odd" fxHide.gt-xs>
          <img [src]="service.imageUrl" [alt]="service.title + 'image'" />
        </div>
        <div class="service-content">
          <h3>
            {{ service.title | translate }}
          </h3>
          <div class="content-list" *ngFor="let content of service.contents">
            <div *ngIf="content | translate">
              <mat-icon>done</mat-icon>
              {{ content | translate }}
            </div>
          </div>
        </div>
        <div class="service-image" *ngIf="odd" fxHide.lt-sm>
          <img [src]="service.imageUrl" [alt]="service.title + 'image'" />
        </div>

        <mat-divider *ngIf="!last" fxHide.gt-xs></mat-divider>
      </div>
    </div>
  </div>
</section>
